<%= form.error_messages %>
<div class="form_row">
  <%= form.label :salary_value,"待遇",:class=>"filed_lab" %>
  <%= rating_field :company_judge,:salary_value  %>
  <span id="advice-company_judge_salary_value" class="validation-advice"></span>
</div>
<div class="form_row">
  <%= form.label "company[saler1]","工作环境",:class=>"filed_lab" %>

  <%= rating_field :company_judge,:condition_value  %>
  <span id="advice-company_judge_condition_value" class="validation-advice"></span>
</div>
<div class="form_row">
  <%= form.label :visiabled1,"评价",:class=>"filed_lab" %>

  <%= form.check_box  :anonymous %> <%= form.label :anonymous,"匿名评价" %>
</div>
<div class="form_row">
  <%=form.label :description,"评论",:class=>"filed_lab" %>
  <%= form.text_area :description ,:rows=>4 ,:class=>"tag_input"%>
</div>
<div>
  <div class="l">
    <%= label_tag "company_tags","常用标签" ,:class=>"filed_lab" %></div>
  <p id="company_tags" class="l"   >
    <%= render :partial=>"company_judges/show_tag",:collection=>@company_judge.company.all_tags(:limit=>15)%>
  </p>
</div>
<br class="c" />
<div>
  <%= label_tag "my_tags","我的标签" ,:class=>"filed_lab" %>

  <%= text_field_tag "my_tags",current_user.used_tags_text(@company_judge.company)  ,:class=>"tag_input text" %>
  <div id ="tags_list" class="auto_complete"></div>
  <%= javascript_tag("new TagInput('my_tags','#company_tags span.tag')") %>
  <%=  auto_complete_field("my_tags", {:update=>"tags_list", :url => {:controller=>"company_judges", :action => "auto_complete_for_tag" },:tokens=>" " })%>
</div>
<div class="form_row">
  <%= label_tag "sub","   &nbsp;" ,:class=>"filed_lab" %>
  多个标签用空格分开
</div>