<%= form.error_messages %>
<p>
  <%= form.label :salary_value,"待遇",:class=>"filed_lab" %>
  <%= rating_field :company_judge,:salary_value  %>
  <span id="advice-company_judge_salary_value" class="validation-advice"></span>
</p>
<p>
  <%= form.label "company[saler1]","工作环境",:class=>"filed_lab" %>
  <%= rating_field :company_judge,:condition_value  %>
  <span id="advice-company_judge_condition_value" class="validation-advice"></span>
</p>

<p>
  <%= form.label :visiabled1,"是否匿名",:class=>"filed_lab" %>

  <%= form.check_box  :anonymous %> <%= form.label :anonymous,"匿名 (不显示评论人的信息)" %>
</p>

<p>
  <%=form.label :description,"评论",:class=>"filed_lab" %>
  <%= form.text_area :description ,:rows=>4 ,:class=>"tag_input"%>
</p>

<div>
  <div class="l">
  <%= label_tag "company_tags","通常描述" ,:class=>"filed_lab" %></div>
  <div id="company_tags" class="l"   >
    <%= render :partial=>"company_judges/show_tag",:collection=>@company_judge.company.all_tags%>
  </div>
</div>
<br class="c" />
<div>
  <%= label_tag "user_tags","我来描述" ,:class=>"filed_lab" %>

  <%= text_field_tag "user_tags",current_user.get_tags(@company_judge.company),:class=>"tag_input" %>
  <div id ="tags_list" class="auto_complete"></div>
  <%= javascript_tag("new TagInput('user_tags','div#company_tags span.tag')") %>
  <%=  auto_complete_field("user_tags", {:update=>"tags_list", :url => { :action => "auto_complete_for_tag" },:tokens=>" " })%>
</div>
<p>
  <%= label_tag "sub","   &nbsp;" ,:class=>"filed_lab" %>
  多个用空格分开
</p>

