<div  class="form_info">
  <h1>邀请同事对你评价</h1>
  <%remote_form_for :msg,
    :url=> send_invite_user_resume_pass_path(params[:user_id],params[:resume_id],@pass),
    :method=>:post do |form| %>

    <label class="filed_lab">已注册同事</label>
    <ul id="invite_yokemate" class="pui-autocomplete-holder" >
      <%@pass.available_yokemates.each do |yokemate|%>
        <li class="pui-autocomplete-input">
          <%=  check_box_tag "yokemates[]", yokemate.id,false,:id=>"yokemates#{yokemate.id}"%><label for="<%= "yokemates#{yokemate.id}" %>"><%= yokemate.name %></label>
        </li>
      <%end%>
    </ul>
    <p>
      <label for="invite_email" class="filed_lab">未注册同事</label>
      <%= form.text_field :sendees,:id=>"invite_email",:class=>"text"  %>
      多个email以";"分隔
    </p>
    <p>
      <label for="invite_msg" class="filed_lab">说点什么</label>
      <%= form.text_area :content,:id=>"invite_msg" %>
    </p>
    <p>
      <%= form.submit "保存",:disable_with=>"保存…",:disabled => false ,:class=>"button"%>
      <%= link_to_close_lightbox "取消" %>
    </p>
  <%end%>
</div>