<div  class="form_info">
  <h1>邀请同事加入</h1>
  <%remote_form_for @msg,
    :url=> send_invite_join_user_pass_path(),
    :method=>:post do |form| %>
    <div id="<%= dom_id(form.object,"error_msg") %>">
      <%= form.error_messages %>
    </div>
    <p>
      <label for="invite_email" class="filed_lab">邮箱地址</label>
      <%= form.text_field :sendees,:id=>"invite_email",:class=>"text"  %>
      多个email以";"分隔
    </p>
    <p>
      <label for="invite_msg" class="filed_lab">说点什么</label>
      <%= form.text_area :content,:id=>"invite_msg" %>
    </p>
    <p>
      <%= form.submit "发送",:disable_with=>"发送…",:disabled => false ,:class=>"button"%>
      <%= link_to_close_lightbox "取消" %>
    </p>
  <%end%>
</div>