<%comment = hot_comment
show_news_title ||= false%>
<div class="comment_item">
  <%if !show_news_title%>
    <%  link_to  "##{dom_id(comment)}" do  %>
      <%= simple_format(h(comment.content))%>
    <%end%>
  <%else%>
    <%=  simple_format(h(comment.content)) %>
  <%end%>
  <div>
    <%= link_to comment.user.name,user_path(comment.user) %>
    <%if show_news_title%>
      <%= "评 #{link_to comment.commentable.title,
      [comment.commentable.owner,comment.commentable]}" %>
    <%else%>
      <span class="date_field"> <%= localize(comment.created_at) %></span>
    <%end%>
  </div>
</div>