<%f= form %>
<%= f.error_messages %>
<div class="form_row">
  <%= f.label :ability_value,"工作能力"  ,:class=>"filed_lab" %>
  <%=  rating_field :judge, :ability_value%>
</div>
<div class="form_row">
  <%= f.label :eq_value,"沟通能力" ,:class=>"filed_lab"  %>
  <%=  rating_field :judge, :eq_value%>
</div>
<div class="form_row">
  <%= f.label :creditability_value,"资料真实" ,:class=>"filed_lab"  %>
  <%=  rating_field :judge, :creditability_value%>
</div>
<div class="form_row">
  <%= form.label :visiabled1,"评价",:class=>"filed_lab" %>
  <%= form.check_box  :anonymous %><%= form.label :anonymous,"匿名评价" %>
</div>
<div class="form_row">
  <%= f.label :description,"写点什么"  ,:class=>"filed_lab" %>
  <%= f.text_area :description,:class=>"tag_input" ,:title=>"描述一下，对别人了解TA很重要哦" %>
</div>
<div>
  <div class="l">
    <%= label_tag "user_tags","常用标签" ,:class=>"filed_lab" %></div>
  <p id="user_tags" class="l"   >
    <%= render :partial=>"company_judges/show_tag",:collection=>f.object.user.all_tags(:limit=>15)%>
  </p>
</div>
<br class="c" />
<div>
  <%= label_tag "my_tags","我的标签" ,:class=>"filed_lab" %>

  <%= text_field_tag "my_tags",current_user.used_tags_text(f.object.user)  ,:class=>"tag_input text" %>
  <div id ="tags_list" class="auto_complete"></div>
  <%= javascript_tag("new TagInput('my_tags','#user_tags span.tag')") %>
  <%=  auto_complete_field("my_tags", {:update=>"tags_list", :url => {:controller=>"company_judges",  :action => "auto_complete_for_tag" },:tokens=>Tag::DELIMITER })%>
</div>
<div class="form_row">
  <%= label_tag "sub","   &nbsp;" ,:class=>"filed_lab" %>
  <span class="quiet">给同事个标签吧,如"聪明 能干 认真" 多个用“空格”分开</span>
</div>

