<div id="left_content">
  <%if current_user?(@user)%>
    <%= render :partial=>"judges/type",:object=>@user   %>
  <%else%>
    <h2><%=  @user.name%></h2>
  <%end%>


  <p >总评<%= big_star(@user.avg_judge_value|| 0) %><span class="red_text"><%=  @user.avg_judge_value%></span></p>
  <h3><%=  params[:pass_id] ? @pass.company.name : "全部" %></h3>
  <%= render :partial=>"passes/show_star_judge",:object=>@pass if params[:pass_id] %>
  <%= render :partial=>"judges/show_text_judges",:collection=>@judges  %>
  <%= will_paginate  @judges %>

</div>
<div id="right_content">
  <% sub_block_div() do%>
    <%= link_to "<< 返回 #{@user.name} 首页",user_path(@user) %>
  <%end%>
  <% sub_block_div() do%>
    <ul class="list">
      <li class="topic_item" id="<%=  params[:pass_id] ? "" : "current_li" %>"><%= link_to "全部",user_judges_path(@user) %></li>
      <% @user.passes.each do |pass|-%>
        <li class="topic_item" id="<%= pass.to_param==params[:pass_id] ? "current_li" : "" %>" >
          <%= link_to  "#{pass.company.name} (#{pass.judges.count})" ,user_judges_path(@user,:pass_id=>pass.to_param) %></li>
      <%end-%>
    <%end%>
  </ul>
</div>