<% up_down_object = up_down_operation
stop_clik ||= false%>
<div class="make_up" >
  <div  style="height:<%= "#{up_down_object.up}px;line-height:0px;" %> "></div>
  <%= "#{up_down_object.up}" %><br />
  <%= (stop_clik ? "不错" : link_to_remote("不错",:url=>{:controller=>up_down_object.class.table_name, :action=>:up,:id=>up_down_object})) %>
</div>
<p class="up_down_split"></p>
<div class="make_down">
  <%=  (stop_clik ? "不行" : link_to_remote("不行",:url=>{:controller=>up_down_object.class.table_name,:action=>:down,:id=>up_down_object})) %><br />
  <%= "#{up_down_object.down}" %>
  <div  style="height:<%= "#{up_down_object.down}px;line-height:0px;" %> "></div>
</div>
