<div id="left_content">
  <h1><%= "#{@owner.name}" %></h1>
  <%  sub_block_div() do %>
    <%= render :partial=>"topics/topic_item",:collection=>@topics %>
    <%= will_paginate @topics %>
  <%end%>
</div>

<div id="right_content">
  <%  sub_block_div() do %>
    <%= link_to "+发言", {:action=>:new,:controller=>:topics} ,:class=>"button" %>
  <p class="clear" />
  <%end%>

  <% sub_block_div() do %>
    <%= link_to "返回 #{@owner.name}首页", [@owner] %>
  <%end%>

  <%  sub_block_div("热门话题") do %>
    <%= render :partial=>"comm_partial/topic_or_news_title_item",:collection=>@owner.topics.hot_topic(:limit=>15) %>
  <%end%>

  <%  sub_block_div("热门回复") do %>
    <%= render :partial=>"comments/hot_comment",:collection=>@owner.comments.hot_comments.all(:limit=>20),:locals=>{:show_news_title=>true} %>
  <%end%>
</div>