<div id="left_content">
  <h1><%= "#{@owner.name}" %></h1>
  <div class="bottom_gray_line "  >
    <p class="r">
      <%= @topics.size %>条
    </p>
    <p class="c"/>
  </div>
  <%  sub_block_div() do %>
    <%= render :partial=>"topics/topic_item",:collection=>@topics %>
    <%= will_paginate @topics %>
  <%end%>
</div>

<div id="right_content">
  <%= render :partial=>"comm_partial/search",:locals=>{:default_text=>"搜索话题",:url=>""} %>
  <%  sub_block_div() do %>
    <%= link_to "+发言", {:action=>:new,:controller=>:topics} ,:class=>"button" %>
    <p class="clear" />
  <%end%>

  <% sub_block_div() do %>
    <%= link_to "<< 返回 #{@owner.name}首页", [@owner] %>
  <%end%>

  <%  sub_block_div("热门话题") do %>
    <%= render :partial=>"comm_partial/topic_or_news_title_item",:collection=>@owner.topics.hot(:limit=>15).since(7.days.ago) %>
  <%end%>

  <%  sub_block_div("评价最高的回复") do %>
    <%= render :partial=>"comments/hot_comment",:collection=>@owner.comments.higher_scope.all(:limit=>20),:locals=>{:show_news_title=>true} %>
  <%end%>
</div>