<div id="<%= dom_id(show_apply,"apply_info")%>"  class="apply_info">
  <% form_for  :AddFriendApplications,:url=>accept_account_add_friend_application_path(show_apply) do |form| %>

    <div>
      <div class="r">
        <%= form.submit  "接受",:disable_with=>"保存…",:disabled => false,:class=>"button" %>
      
        <%= link_to "忽略",account_add_friend_application_path(show_apply),:confirm=>"你确定吗？",:method=>:delete %>
      </div>
      <div class="applicant">
        <%= render :partial=>"users/user_icon_name",:object=>show_apply.applicant %>
      </div>
      <div class="apply_memo">
        <p class="quiet">
          <%=  localize(show_apply.created_at)  %>
        </p>
        <p>
          <%= show_apply.memo %>
        </p>
      </div>
      <p class="clear_float" />
    </div>
  <%end%>
</div>