<%f = form %>
<p id="<%= dom_id(f.object,"error_msg") %>">
  <%= f.error_messages %>
</p>
<p>
  <%= f.label :name,"专长",:class=>"filed_lab" %>
  <%= f.text_field :name ,:class=>"required" %>
</p>
<p>
  <%= f.label :description,"描述",:class=>"filed_lab" %>
  <%= f.text_area :description ,:rows=>3%>
</p>