<% spec= show_specials  %>
<div  id="<%= dom_id(spec,"container") %>" >
  <div id="<%= dom_id(spec) %>"  class="section <%= current_user?(spec.user) ? "edit_section" : "" %>" >
    <%= render :partial=>"specialities/show_special_info",:object=>spec %>
  </div>
  <div id="<%= dom_id(spec,"edit_container") %>"  class="partial_container" style="display:none;">
  </div>
</div>
<%= javascript_tag(" AddHover('#{dom_id(spec,"container")}')") %>

