<%f = form%>
<%= f.error_messages %>

<p>
  <%= f.label :title ,"标题",:class=>"filed_lab"%>
  <%= f.text_field :title,:class=>"text" %>
</p>
<p>
  <%= f.label :job_type,"工作类型" ,:class=>"filed_lab"%>
  <%= f.select :type_id,Job.types %>

</p>
<p>
  <%= f.label :state_id,"工作地点",:class=>"filed_lab" %>
  <%= f.select :state_id,State.all.collect {|p| [p.name,p.id]} %>
  <%= f.select :city_id,City.find_all_by_state_id(f.object.state_id).collect {|p| [p.name,p.id]} %>

  <%=  drop_list("job_state_id","job_city_id",State.all.collect {|p| [ p.id, p.cities.all.collect{|q| [q.id,q.name] } ] })%>
</p>
<p>
  <%= f.label :end_at ,"结束日期",:class=>"filed_lab"%>
  <%= f.date_select :end_at %>
</p>
<p>
  <%= f.label :job_description,"工作描述",:class=>"filed_lab" %>
  <%= f.text_area :job_description %>
</p>
<p>
  <%= f.label :skill_description,"工作需求" ,:class=>"filed_lab"%>
  <%= f.text_area :skill_description  %>
</p>
<%#*<p>%>
<%#= f.label :job_title %><br />
<%#= f.text_field :job_title %>
<%#*</p>%>