<%f = form%>
<%= f.error_messages %>

<p>
  <%= f.label :title ,"标题",:class=>"filed_lab"%>
  <%= f.text_field :title,:class=>"text" %>
</p>
<p>
  <%= f.label :type_id,"工作类型" ,:class=>"filed_lab"%>
  <%= f.select :type_id,Job.types %>

</p>
<p>
  <%= f.label :state_id,"工作地点",:class=>"filed_lab" %>
  <%= f.select :state_id,State.to_select_option() %>
  <%= f.select :city_id,City.to_select_option(f.object.state_id) %>
  <%=  drop_list("job_state_id","job_city_id",State.to_select_option_with_city)%>

</p>
<div class="form_row">
  <%= f.label :skill_text,"特长需求",:class=>"filed_lab" %>
  <%=  text_field_with_auto_complete :job, :skill_text,{:class=>"text",:id=>dom_id(f.object,"name")},:tokens=>Skill::DELIMITER %>多个用空格分开
</div>
<%#*<p>%>
<%#= f.label :end_at ,"有效日期",:class=>"filed_lab"%>
<%#= f.date_select :end_at %>
<%#*</p>%>
<p>
  <%= f.label :job_description,"工作描述",:class=>"filed_lab" %>
  <%= f.text_area :job_description %>
</p>
<p>
  <%= f.label :skill_description,"工作需求" ,:class=>"filed_lab"%>
  <%= f.text_area :skill_description  %>
</p>
<%#*<p>%>
<%#= f.label :job_title %><br />
<%#= f.text_field :job_title %>
<%#*</p>%>
