
<% job = object
show_company ||= nil
%>
<tr class="<%= cycle("gray_background", "") %>">
  <td><%= highlight(link_to(h(job.title), [job.owner,job]),params[:search]) %>
    <% if show_company %>
      <br/>
      <span>
        <%= link_to job.owner.name,job.owner %>
      </span>
    <%end%>
  </td>
  <td><%=h job.site %></td>
  <td><%=date_ago_in_words(job.created_at) %></td>
  <td><%=h job.type %></td>
  <td>
    <%= link_to_function "详细","Element.toggle('#{dom_id(object,"detail")}')" %>
  </td>
</tr>
<tr style="display:none" id="<%= dom_id(object,"detail") %>" >
  <td colspan="5" class="bottom_gray_line" style="width:100%;overflow:auto;" >

    <h6>工作描述</h6>
    <%= h object.job_description %>
    <h6>工作要求</h6>
    <%= h object.skill_description %> 
 
  </td> 
</tr>

