<% job = object
show_company ||= nil%>
<tr class="<%= cycle("gray_background", "") %>">
  <td><%= highlight(link_to(h(job.title), [job.owner,job]),params[:search]) %>
    <% if show_company %>
      <br/>
      <small>
        <%= link_to job.owner.name,job.owner %>
      </small>
    <%end%>
  </td>
  <td><%=h job.site %></td>
  <td><%=date_ago_in_words(job.created_at) %></td>
  <td><%=h job.type %></td>
  <td>
    <%= link_to "详细",company_job_path(object.owner,object) %>
    <%if current_user?(object.create_user)%>
      <%= link_to '编辑',edit_company_job_path(object.owner,object) %>
      <%= link_to  '删除', company_job_path(object.owner,object),:class=>"red_text", :confirm => '确定删除吗?',
        :method => :delete,:class=>"red_text" -%>
    <%end%>
    <%= link_to_function "&nabla;","Element.toggle('#{dom_id(object,"detail")}')" %>
  </td>
  <td>
    <%=  check_box_tag  "select_jobs[]",object.id ,false -%>
  </td>
</tr>
<tr style="display:none" id="<%= dom_id(object,"detail") %>" >
  <td colspan="6" class="bottom_gray_line" style="width:100%;overflow:auto;" >
    <h6>工作描述</h6>
    <%= h object.job_description %>
    <h6>工作要求</h6>
    <%= h object.skill_description %>
  </td> 
</tr>

