<% job = object
show_company ||= nil%>
<tr class="<%= cycle("", "gray_background") %>">
  <td>[<%= link_to_state_city(job) %>]
    <%= highlight(link_to(h(job.title),job,:target=>"_blank"),params[:search]) %>
    <%if job.applicants.size>0%> <span class="quiet small"><%= job.applicants.size %>个申请</span><%end%>
    <% if show_company %>
      <br/>
      <span class="small">
        <%= link_to job.owner.name,job.owner ,:target=>"_blank" %>
      </span>
    <%end%>
  </td>
  <td><%=link_to object.type,{:action=>'search',:job_type=>object.type_id}%></td>
  <td><%=date_ago_in_words(job.created_at) %></td>

  <td>
    <%= link_to "详细",job_path(object) %>
    <%if current_user?(object.poster)%>
      <%= link_to '编辑',edit_job_path(object) %>
      <%= link_to  '删除', job_path(object), :confirm => '确定删除吗?',
        :method => :delete,:class=>"red_text" -%>
    <%end%>
    <%= link_to_function "&nabla;","Element.toggle('#{dom_id(object,"detail")}')" %>
  </td>
  <td>
    <%if current_user?(object.poster)%>
      <%=  check_box_tag  "select_jobs[]",object.id ,false -%>
    <%end%>
  </td>
</tr>
<tr style="display:none" id="<%= dom_id(object,"detail") %>" >
  <td colspan="6" class="bottom_gray_line" style="width:100%;overflow:auto;" >
 
    <%= truncate(strip_tags(object.description) ,:length=>120) %>
  </td> 
</tr>

