<% is_show_company ||= nil %>
<li class="<%= cycle( "topic_item","topic_item gray_background") %>">
  <div class="quiet r"> <%= date_ago_in_words(object.created_at)+"发布" %></div>
  <%= link_to h(object.title),job_path(object) ,:target=>"_blank" %><%if object.applicants.count>0%>
    <span class="quiet small"><%= object.applicants.count %>个申请</span><%end%>
  <% if is_show_company %>
    <br/>
    <%= link_to object.owner.name, object.owner,:class=>"small",:target=>"_blank"%>
  <%end%>
</li>
