<% if @company %>
  <div id="left_content">
    <h1><%= @company.name %></h1>
    <table>
      <thead>
        <tr>
          <th class="msg_title">职位</th>
          <th>工作地点</th>
          <th>发布日期</th>
          <th>类型</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <%= render :partial=>"jobs/info_item",:collection=>@jobs %>
      </tbody>
      <tfoot>
        <%= will_paginate @jobs %>
      </tfoot>
    </table>
  </div>
  <div id="right_content">
    <%= render :partial=>"comm_partial/search",:locals=>{:default_text=>"搜索职位",:url=>""} %>
    <%sub_block_div() do%>
      <%= link_to "<< 返回 #{@company.name}" ,@company %>
    <%end if @company%>

  </div>
<%else%>
  <div id="single_column">
    <div  class="center_block" id="search_content">
      <%= render :partial=>"comm_partial/search",:locals=>{:default_text=>"搜索职位"} %>
    </div>
  </div>
<%end%>