<% content_for :script do %>
  <%= javascript_include_merged :"prototype-ui" %>
<% end %>
<div id="left_content">
  <h1 ><%=h @job.title %></h1>
  <div id="job_info_show" class="main_info">
    <div class="r " id="job_applicant_count">
      <%= @job.applicants.count%>
      <br/>
      申请
    </div>
    <p>
      <%=link_to @job.type,{:action=>'search',:job_type=>@job.type_id}%> &nbsp;
      <b>工作地点</b>&nbsp;
      <%=  link_to_state_city @job %>
      &nbsp;
      <%= link_to_user_name @job.poster %>
      <b>发布于</b>&nbsp;
      <span class="quiet"><%= h time_ago_in_words_plus(@job.created_at)  %></span>&nbsp;
      <b>浏览</b>&nbsp;<%= @job.view_count %>
    </p>
    <div>
      <%=  @job.description %>
    </div>
    <p>
      <b>技术</b> <%= render :partial=>"need_jobs/skill_tag",:collection=> @job.skills%>
    </p>
  </div>
  <% sub_block_div("评论",(link_to("#{@job.comments.size}条","#post_comment") if @job.comments.size>0)) do%>
    <div id="comments">
      <%= render :partial=>"comments/comment",:collection=>@comments %>
      <%= will_paginate  @comments %>
    </div>
    <div class="item_content" id="post_comment">
      <%= render :partial=>"comments/new_form",:object=>@job %>
    </div>
  <%end%>
</div>
<div id="right_content">
  <% sub_block_div() do %>
    <%= render :partial=>"jobs/operation",:object=>@job %>
  <%end%>

  <% sub_block_div(" ") do%>
    <%= render :partial=>"companies/company_short_info",:object=>@job.owner %>
  <%end%>
  <%  if @job.related_jobs(:limit=>4).size>0 %>
    <% sub_block_div("申请该职位的人同时还申请") do %>
      <ul class="list">
        <%= render :partial=>'jobs/short_item',:collection=>@job.related_jobs(:limit=>4) %>
      </ul>
    <%end%>
  <%else%>
    <% sub_block_div("相似职位") do%>
      <%= render :partial=>"jobs/short_item",:collection=>@job.similar_jobs(:limit=>4)%>
    <%end%>
  <%end%>
</div>