<div class="<%= cycle("item_content", "item_content gray_background") %>" id="<%= dom_id(msg_response) %>">

  <div class="l">
    <%= render :partial=>"users/user_icon_name",:object=>msg_response.sender %>
  </div>
  <div class="icon_right_content">
    <p class="quiet">
      <%= localize(msg_response.created_at) %>
    </p>
    <p>
      <%= h msg_response.content %>
    </p>
  </div>
  <div class="clear"></div>
</div>