<div class="main_content" id="<%= dom_id(msg_info) %>">

  <div class="l" title="发送者">
    <%= render :partial=>"users/user_icon_name",:object=>msg_info.sender %>
  </div>
  <%#*<div class="l" >%>
    <%#*&nbsp; &nbsp;%>
  <%#*</div>%>
  <%#*<div class="l" title="接收者">%>
    <%#= render :partial=>"users/user_icon_name",:object=>msg_info.sendee %>
  <%#*</div>%>
  <div class="icon_right_content">

    <p class="news_title">
      <%= h  msg_info.title if msg_info.title%>
    </p>
    <p class="quiet">
      <%= localize(msg_info.created_at) %>
    </p>
    <div>
      <%=simple_format(msg_info.content) %>
      <%#*textilize%>
    </div>
  </div>
  <div class="clear"></div>
</div>