<div class="<%= cycle("comment_item color_tr", "comment_item") %>" id="<%= dom_id(msg_response) %>">

  <div class="l">
    <%= render :partial=>"users/user_icon_name",:object=>msg_response.sender %>
  </div>
  <div class="comment_text text_content">
    <p class="comment_date">
      <%= localize(msg_response.created_at) %>
    </p>
    <p >
      <%= h msg_response.content %>
    </p>
  </div>
  <div class="clear"></div>
</div>