<h1>消息</h1>
<div class="tab">
  <ul class="item">
    <li id="<%= "current_tab" if controller.action_name =="index" && params[:type]!="recieve" && params[:type]!="send"  %>" ><%= link_to "新信息", account_msgs_path(:type=>:new)  %> </li>
    <li id="<%= "current_tab" if controller.action_name =="index" && params[:type]=="recieve" %>" ><%= link_to "收到的信息",account_msgs_path(:type=>:recieve)  %> </li>
    <li  id="<%= "current_tab" if controller.action_name =="index" && params[:type]=="send" %>"><%= link_to   "发送的信息",account_msgs_path(:type=>:send) %></li>
    <li  id="<%= "current_tab" if controller.action_name =="set_resume_visibility" %>">  <%= link_to "+写信息",new_account_msg_path()%></li>
  </ul>
</div>
