
<%= render :partial=>"msgs/notification_types" %>

<table id="msg_list_table">
  <tr>
    <th >标题</th>
    <%if params[:type]=="send"%>
      <th>接收人</th>
    <%else%>
      <th>发送人</th>
    <%end%>
    <th>日期</th>
    <th></th>

  </tr>
  <% @msgs.each do |msg| %>
    <tr>
      <td class="msg_title"><%=link_to msg.title,account_msg_path(msg) ,:title=>msg.content %></td>
      <%if params[:type]=="send"%>
        <td><%=  link_to msg.sendee.name,user_path(msg.sendee) %></td>
      <%else%>
        <td><%= link_to msg.sender.name,user_path(msg.sender) %></td>
      <%end%>
      <td><%= localize(msg.created_at) %></td>
      <td><%= link_to '查看', account_msg_path(msg) %>
      <%= link_to '删除', account_msg_path(msg,:type=>params[:type]), :confirm => '你确定吗?', :method => :delete %></td>
    </tr>
  <% end %>

  <%if @msgs.size<1%>
    <tr>
      <td>
        <h4>目前还没有消息 ，写<%= link_to "新消息",new_account_msg_path()%></h4>
      </td>
    </tr>
  <%end%>
  <tr>
    <td>
    <%= will_paginate @msgs %></td>
  </tr>
</table>


