<div id="left_content">
  <%= render :partial=>"msgs/notification_types" %>
  <div id="msg_show">
    <%=  render :partial=>"msgs/msg_info",:object=>@msg%>
    <div id="msg_responses"  class="icon_right_content">
      <div id="response_infos" class="form_row">
        <%=  render :partial=>"msgs/msg_response",:collection=>@msg.msg_responses%>
      </div>
      <% if @msg.can_response? %>
        <%remote_form_for  :response,:url=>msg_response_account_msg_path(@msg),
          :loading=>"$$('input[name=\\'commit\\']').each(function(s) \
  {s.disabled=true;}.bind(this))",
          :complete=>"$$('input[name=\\'commit\\']').each(function(s) \
  {s.disabled=false;}.bind(this))",
          :html=>{:class=>"required-validate", :method=>:put}  do |form| %>
          <div class="text_area_wrap">
            <%= form.text_area :content ,:id=>"response_comment",:class=>"required default_value",:title=>"输入你想说的话吧！"%>
          </div>     
          <div class="form_row">
            <%= form.submit "好了回复",:disabled => false,:class=>"button"  %>
            <span  id="advice-required-response_comment" class="validation-advice"></span>
          </div>
        <%end%>

      <%else%>
        对方已经关闭，不能回复，<%= link_to "给#{current_user?(@msg.sendee) ? @msg.sender.name : @msg.sendee.name} 发送新的消息吧",
          new_account_msg_path(:write_to=>(current_user?(@msg.sendee) ? @msg.sender.to_param : @msg.sendee.to_param)) if @msg.sender.id!=-1%>
      <%end%>
    </div>
  </div>
</div>
<div id="right_content">
  <%  sub_block_div() do %>
    <%= link_to "给[#{current_user?(@msg.sendee) ? @msg.sender.name : @msg.sendee.name}]发送新的消息吧",
      new_account_msg_path(:write_to=>(current_user?(@msg.sendee) ? @msg.sender.to_param : @msg.sendee.to_param)) if @msg.sender.id!=-1%>
    <br/>
    <%= link_to '×删除这条消息', account_msg_path(@msg,:type=>params[:type]), :confirm => '你确定吗?', :method => :delete %>
  <%end%>
</div>