
<%= render :partial=>"msgs/notification_types" %>

<div id="left_content">
  <div id="msg_show">
    <%=  render :partial=>"msgs/msg_info",:object=>@msg%>
    <div id="msg_responses">
      <div id="response_infos">
        <%=  render :partial=>"msgs/msg_response",:collection=>@msg.msg_responses%>
      </div>
      <% if @msg.can_response? %>
        <%#*<h6>回复</h6>%>
        <%remote_form_for  :response,:url=>msg_response_account_msg_path(@msg),:method=>:put  do |form| %>

          <%= form.text_area :content ,:id=>"response_comment"%>
          <p>
            <%= form.submit "回复",:disable_with=>"回复…",:disabled => false  %>
          </p>
        <%end%>
      <%else%>
        对方已经删除，不能回复
      <%end%>
    </div>
  </div>
</div>
<div id="right_content">
  <div class="sub_block">
    <div class="sub_block_content">
      <p>
        <%= link_to "给 #{current_user?(@msg.sendee) ? @msg.sender.name : @msg.sendee.name} 新信息",
          new_account_msg_path(:write_to=>(current_user?(@msg.sendee) ? @msg.sender.to_param : @msg.sendee.to_param))%>
      </p>
      <p>
        <%= link_to '删除', account_msg_path(@msg,:type=>params[:type]), :confirm => '你确定吗?', :method => :delete %>
      </p>
    </div>
  </div>
</div>

