<tr class="<%= cycle("gray_background", "") %>">

  <td>
    <%= link_to(h(object.job.title), [object.job.owner,object.job]) %>
    <% if object.recommend_user  %>
      &nbsp;&nbsp;[<%= link_to object.recommend_user.name,object.recommend_user %>]举荐
    <%end%>
    <br/>
    <small>
      <%= link_to object.job.owner.name,object.job.owner %>
    </small>
  </td>
  <td><%=date_ago_in_words(object.created_at) %></td>
  <td>
    <%= link_to_function "&nabla;","Element.toggle('#{dom_id(object,"detail")}')" %>
  </td>
</tr>
<tr style="display:none" id="<%= dom_id(object,"detail") %>" >
  <td colspan="5" class="bottom_gray_line" style="width:100%;overflow:auto;" >
    <%= h object.memo %>
  </td>
</tr>