<%f= form%>

<%#*<h3 class="group_lab">基本信息</h3>%>
<!--
    <p>
<%#= f.label :name,"档案名称" %>
<%#= f.text_field :name %>
    </p>
-->
<%#*<p style="display:none">%>
<%#= f.label :type_name,"类型" ,:class=>"filed_lab" %>
<%#=f.select :type_name ,Resume::RESUME_TYPES %>
<%#*</p>%>
<div class="thumb_img">
  <%= img_upload_field( attachments_path(),
    f.object.user ? f.object.user.icon_file_path : User.anonymity.icon_file_path,
    nil,
    {:button_text=>"上传文件",:post_params=>{:type=>UserIcon.to_s},:button_width=>60,:button_height=>18
    }) %>

</div>
<p>
  <%= f.label :user_name,"姓名" ,:class=>"filed_lab" %>
  <%=f.text_field :user_name ,:class=>"text" %>
</p>
<p>
  <%= f.label :sex,"性别" ,:class=>"filed_lab" %>
  <%=f.radio_button(:sex,"true",:checked => true )%><%= f.label :sex_true,"男" %>
  <%=f.radio_button(:sex,"false")%><%= f.label :sex_false,"女" %>
</p>
<%#*<p>%>
  <%#= f.label :birthday,"出生日期" ,:class=>"filed_lab" %>
  <%#=f.date_select :birthday,:start_year => 1930,:default=>nil, :include_blank => true  %>
<%#*</p>%>
<p>
  <%= f.label :blog_website,"博客" ,:class=>"filed_lab"  %>
  <%=f.text_field :blog_website,:class=>"text" %>
</p>
<%#*<p>%>
  <%#= f.label :personal_website,"网站",:class=>"filed_lab" -%>
  <%#=f.text_field :personal_website,:class=>"text"  -%>
<%#*</p>%>
<%#*<br />%>
<%#*<p>%>
  <%#= f.label :msn,"MSN",:class=>"filed_lab" -%>
  <%#=f.text_field :msn ,:class=>"text"  -%>
<%#*</p>%>
<%#*<p>%>
  <%#= f.label :qq,"QQ",:class=>"filed_lab"  %>
  <%#=f.text_field :qq ,:class=>"text"   %>
<%#*</p>%>
<%#*<p>%>
  <%#= f.label :mobile,"移动电话" ,:class=>"filed_lab" %>
  <%#=f.text_field :mobile ,:class=>"text"  %>
<%#*</p>%>
<%#*<p>%>
  <%#= f.label :telephone,"固定电话" ,:class=>"filed_lab" %>
  <%#=f.text_field :telephone ,:class=>"text"  %>
<%#*</p>%>
<p>
  <%= f.label :address,"城市" ,:class=>"filed_lab" %>
  <%= f.select :state_id,  State.to_select_option("")%>
  <%= f.select :city_id, City.to_select_option(f.object.state_id,"")  %>
  <%=  drop_list("base_info_state_id","base_info_city_id", State.to_select_option_with_city(""))%>
  <%#=f.text_field :address ,:class=>"text"  %>
</p>
 