
<% group= operation_content%>
<span id="recommend_operation">
  <%= render :partial=>"comm_partial/recommend_operation",:object=>group %>
</span>
<% if group.is_member?(current_user)%>

  <% if group.is_manager_member?(current_user) %>
    <%= link_to "管理",edit_group_path(group),:class=>"button"  %>
  <%end%>
  <%= link_to "发言",new_group_topic_path(group),:class=>"button" ,:title=>"我来发布新话题" %>
  <%= link_to "邀请", invite_join_group_path(group),:class=>"button",:title=>"邀请好友加入进来"  %>
  <%= link_to_remote  "退出小组",{:url=>{:action=>:quit,:id=>group},:confirm=>"你确定吗?"},:class=>"button negative"  %>
<%else%>

  <%# if group.add_applications.exists?(current_user) %>
  <% if current_user %>
    <% if   group.add_applications.exists?(["applicant_id in (?)",current_user.ids]) %>
      申请加入中…
    <%else%>
      <%  case group.join_type
      when Group::JOIN_TYPES[0][1] #普通小组%>
        <%= link_to  "加入▼","JavaScript:;",:class=>"button",:id=>"add_button" %>
        <% menu("add_group") do %>
          <% for al in current_user.accounts %>
            <%= menu_item(link_to_remote("#{al.name} 加入" ,{:url=>{:action=>:join,:id=>group,:alias=>al}})) %>
          <%end%>
        <%end%>
        <%= popmenu("add_button","add_group") %>
        <%#= link_to_remote "加入小组" ,{:url=>{:action=>:join,:id=>group}},:class=>"button" %>
      <%when Group::JOIN_TYPES[1][1] #权限小组 需要申请 %>
        <%= link_to  "申请▼","JavaScript:;",:class=>"button",:id=>"apply_button" %>
        <% menu("apply_add_group") do %>
          <% for al in current_user.accounts %>
            <%= menu_item( link_to_remote_lightbox( "#{al.name} 申请加入",
                :url=>{:controller=>:add_group_applications,:action=>:apply,:group_id=>group.id,:alias=>al})) %>
          <%end%>
        <%end %>
        <%= popmenu("apply_button","apply_add_group") %>
      <%end%>
    <%end%>
  <%else%>
    <%= link_to_remote "加入▼",{:url=>{:action=>:join}},:class=>"button",:id=>"add_button" %>
  <%end%>
<%end%>
