
<div id="left_content">
<%= render :partial=>"groups/manage_type",:object=>@group %>
  <% form_for(@group) do |f| %>
    <%= f.error_messages %>
    <%= render :partial=>"groups/form" ,:object=>f %>
    <p>
      <%= f.submit '保存',:disable_with=>"保存…",:disabled => false ,:class=>"button"%>  <%= link_to '取消', @group %>
    </p>
  <% end %>

</div>
<div id="right_content">

  <% sub_block_div() do %>
    <%= link_to "<< 返回 #{ @group.name}小组", @group %>
  <%end%>

</div>