<div id="left_content">
  <h1>邀请好友加入小组</h1>
  <% form_for(@invite,:url=>invite_join_group_path(@group)) do |f| %>
    <% sub_block_div("好友") do %>
      <div>
        <%= render :partial=>"groups/invite_user",:collection=>@friends %>
        <p class ="clear"/>
      </div>
      <br />
      <p class="r">
        <%=  check_box_tag "select", "",false,
          :onclick=>"$$('input[name=\\'invite_user[]\\']').each(function(s) \
    {s.checked = this.checked}.bind(this))"  -%><%= label_tag "select", "选择" %>
      </p>
      <%= will_paginate @friends %>
      <p class ="clear"/>
    <%end%>

    <p><%= f.text_area :memo ,:id=>"response_comment"%></p>
    <p><%= f.submit "发送邀请" ,:disable_with=>"发送…",:disabled => false,:class=>"button"%></p>
  <%end%>
</div>
<div id="right_content">
  <% sub_block_div() do %>
    <%= render :partial=>"comm_partial/search",:locals=>{:default_text=>"输入好友名称",:url=>""} %>
    <br class="clear" />
  <%end%>
  <% sub_block_div() do %>
    <%= link_to "<< 返回 #{ @group.name}小组", @group %>
  <%end%>
</div>

