<%search_form   do |f|%>
  <div id="left_content">
    <div class="bottom_gray_line "  >
      <h1><%= "搜索小组" %></h1>
      <p>
        <%= text_field_tag  "search",params[:search],:class=>"text" %>
        <%= text_default_value 'search',"小组" %>
        <%=  f.submit "搜索" ,:disable_with=>"搜索",:disabled => false,:class=>"button"%>
        共<%= @groups.size %>记录
      </p>

    </div>
    <%= highlight render(:partial=>"groups/short_info",:collection=> @groups),params[:search] %>
    <%= will_paginate  @groups %>
  </div>
  <div id="right_content">
    <% sub_block_div() do%>

      <%= link_to "<<返回小组首页",groups_path() %>
    <%end%>

  </div>
<%end%>
