
<div id="left_content">
  <h1>
    <%=h(@group.name) %>
  </h1>
  <div id="group_info_show" class="main_info">
    <div class="thumb_img">
      <%= image_tag @group.icon_file_path -%></div>
    <div id="group_content">
      <%=  simple_format(auto_link(h(@group.description))) %>
    </div>
    <p>
      <b>创建于 </b><%=  localize(@group.created_at)%>
    </p>
    <p>
      <b>标签 </b>  <%= render :partial=>"comm_partial/show_tag" ,:collection=>@group.all_tags(:limit=>4)  %>
    </p>
    <p>
      <b>成员 </b> <%= link_to("#{@group.members_count}",group_members_path(@group),:class=>"member_count")%>
      <b>话题 </b> <%= link_to("#{@group.topics_count}",group_topics_path(@group))%>
      <b>被推荐 </b> <%= link_to("#{@group.recommends_count}",recommends_path(:recommendable_type=>@group.class.to_s,:recommendable_id=>@group.to_param),:class=>"recommend_count")%>
    </p>
  </div>

  <% sub_block_div("话题(#{@group.topics_count})", (link_to("全部", group_topics_path(@group)) if @group.topics_count>0)) do %>
    <%= render :partial=>"topics/topic_item",:collection=>@group.topics.all(:limit=>20) %>
  <%end%>
</div>
<div id ="right_content">
  <% sub_block_div() do%>
    <%= render :partial=>"groups/operation",:object=>@group %>
  <%end%>
  <% sub_block_div("申请") do%>
    <div>
      有 <%= @group.add_applications.size %> 个加入申请
      <%= link_to "查看" ,group_add_group_applications_path(@group) %>
    </div>
  <%end if @group.add_applications.size >0 && @group.is_manager_member?(current_user) %>

  <% sub_block_div("成员(<span class='member_count'>#{@group.members_count}</span>)", link_to("全部",group_members_path(@group))) do %>
    <%= render :partial=>"users/user_icon_name_extension",:collection=>@group.all_members(:limit=>10) %>
    <p class ="clear"/>
  <%end%>

  <% sub_block_div("成员也喜欢去的小组") do %>
    <ul class="float_ul">
      <%= render :partial=>"groups/float_icon_name",:collection=> @group.related_popular_groups.all(:limit=>8)%>
    </ul>
  <%end%>

  <% sub_block_div("相关小组") do %>
    <ul class="float_ul">
      <%= render :partial=>"groups/float_icon_name",:collection=> @group.similar_tag_groups.all(:limit=>8)%>
    </ul>
  <%end%>
</div>

