<div id="left_content">
  <h1><%= "#{@tag.name} 标签的小组" %></h1>
  <%= render :partial=>"groups/short_info",:collection=> @groups %>
  <%= will_paginate  @groups %>
</div>
<div id="right_content">
  <%sub_block_div("") do%>
    <p>
      <%= link_to "返回所有小组首页" ,groups_path() %>
    </p>
    <p>
      <%= link_to "查看所有标签",{:action=>"all_tags"}%>
 
    </p>
  <%end%>
  <%sub_block_div("相关的标签") do%>
    <%= render :partial=>"comm_partial/show_tag" ,:collection=> @similar_taggings  %>
  <%end%>
</div>
