<%user=body_render%>
<div id="base_info"  >
  <%if user.setting.can_visibility?(:img_visibility,current_user) -%>
    <div class="thumb_img" id="main_thumb_img"><span title="<%= User::STATE_TYPES[user.state.to_sym || :working] %>"
                                                     class="user_state_<%= user.state || "working" %> user_state_at_icon <%= current_user?(user) ? "current_user_state" : "" %>"></span><%= image_tag  user.icon_file_path-%></div>
    <%end-%>
  <div id="user_base_info" class="section <%= current_user?(user) ? "edit_section" : "" %>" >

    <%= render(:partial=>"base_infos/show_base_info",:object=>user)%>
  </div>
  <div id="edit_container_user_base_info" style="display:none" class="partial_container"  >
  </div>
</div>
<%if user.taggings.count>0%>
  <div class="section">
    <h2>标签</h2>
    <p id="tag_topN_list">
      <%= render :partial=>"base_infos/show_tag",:collection=>user.taggings%>
      <%= link_to "…所有#{user.taggings.count}个",[user,:tags] if user.taggings.count>5 %>
    </p>
  </div>
<%end%>
<%= javascript_tag(" AddHover('base_info')")  if current_user?(user)%>
<%if user.setting.can_visibility?(:self_description_visibility,current_user)%>
  <div id="self_description"  >
    <%= render :partial=>"base_infos/show_self_description",:object=>user %>
  </div>
  <%= javascript_tag(" AddHover('self_description')")   if current_user?(user)%>
<%end%>

<%if user.setting.can_visibility?(:pass_visibility,current_user)  %>
  <div id="pass" >
    <div id="pass_infos" style="display:<%=  (user.passes.size>0 || ( current_user?(user))) ? "" : "none" %>">
      <div class="section <%= current_user?(user) ? "edit_section" : "" %>">
        <%content_tag :span,:class=>"operation_lab" do -%>

          <%= link_to_function "","PerpareNew('new_pass_container');",
            :class=>"add_img_button",:title=>"添加" %>
        <%end if  current_user?(user)-%>
        <h2 >工作经历</h2>
      </div>
      <%= render :partial=>"passes/show_passes",:collection=>user.passes  %>
    </div>
    <div id="new_pass_container" style="display:none" class="partial_container"  >
      <%= render_component :controller=>"passes",:action=>:new,
        :params=>{:user_id=>user.id}   if current_user?(user)%>
    </div>
  </div>
  <%= javascript_tag(" AddHover('pass')")   if current_user?(user)%>
<%end%>
<% if user.setting.can_visibility?(:edu_visibility,current_user)  %>
  <div id="education">
    <div id="education_infos" style="display:<%= (( current_user?(user)) || user.educations.size>0) ? "" : "none" %>">
      <div  class="section <%= current_user?(user) ? "edit_section" : "" %>">

        <% content_tag :div , :class=>"operation_lab" do -%>
          <%= link_to_function "","PerpareNew('new_education_container');",
            :class=>"add_img_button",:title=>"添加" %>
        <%end if  current_user?(user) %>
        <h2>教育</h2>
      </div>
      <%= render(:partial=>"educations/show_edus",:collection=>user.educations) %>
    </div>
    <div id="new_education_container" class="partial_container" style="display:none;">
      <%= render_component :controller=>"educations",:action=>:new,
        :params=>{:user_id=>user.id}   if current_user?(user)%>
    </div>
  </div>
  <%= javascript_tag(" AddHover('education')")   if current_user?(user)%>
<%end%>
<% if user.setting.can_visibility?(:speciality_visibility,current_user) && (( current_user?(user)) || user.specialities.length>0)  %>
  <div id="speciality">
    <div class="section <%= current_user?(user) ? "edit_section" : "" %>">
      <% content_tag :div,:class=>"operation_lab" do %>
        <%= link_to_function "","PerpareNew('new_speciality_container');",
          :class=>"add_img_button",:title=>"添加" %>
      <%end if  current_user?(user) %>
      <h2>专长</h2>
    </div>
    <dl id="speciality_infos">
      <%= render :partial=>"specialities/show_specials",:collection=> user.specialities   %>
    </dl>
    <div id ="new_speciality_container" class="partial_container" style="display:none;">
      <%= render_component :controller=>"specialities",:action=>:new,
        :params=>{:user_id=>user.id}   if current_user?(user)%>
    </div>
  </div>
  <%= javascript_tag(" AddHover('speciality')")   if current_user?(user)%>

<%end%>

