<div id="top_user_info">
  <%if current_user-%>
    <% menu("set_user_state_menu") do -%>
      <%0.upto(2) do |i|%>
        <%menu_item() do -%><%
          link_to("#", :onclick=>remote_function(:url=>url_for(:action=>"set_user_state",:controller=>"account",:state=>User::STATE_TYPES.keys[i].to_s()))) do -%>
            <%= content_tag :span,"",:class=>"user_state_#{User::STATE_TYPES.keys[i].to_s}" %>&nbsp;<%=  User::STATE_TYPES.values[i].to_s%>
          <%end-%>
        <%end -%>
      <%end%>
      <%menu_item() do -%>
        <%= link_to "&nbsp;设置图片…",base_info_account_setting_path() %>
      <%end-%>
    <%end -%>
    <div id="current_user_img" class="l">
      <% link_to   "#"  do  -%><div class="user_icon" ><div class="icon" ><span

              title="<%= User::STATE_TYPES[:"#{current_user.state || "working"}"] %>"
              class="user_state_<%= current_user.state || "working" %> user_state_at_icon current_user_state"></span><%=  image_tag current_user.icon_file_path(:thumb),:id=>"user_img_button",:title=>current_user.name + " 状态 "+  User::STATE_TYPES[:"#{current_user.state || "working"}"]  -%></div></div><%end-%>
    </div>
    <div  id="current_user_operation">
      <div id="my_language_area">
        <div  id="my_language" title="<%=escape_javascript(current_user.my_phrase.strip.chomp)%>"><%=h(current_user.my_phrase.strip.chomp)-%></div>
        <%=  in_place_editor("my_language",
          :url=>url_for({:controller=>:account,:action => "set_my_language",:id=>current_user}),:loading_text=>"载入…",
          :click_to_edit_text=>escape_javascript(current_user.my_phrase.strip.chomp) ,
          :rows=>2,
          :submit_on_blur=>:true,:ok_control=>:false,:cancel_control=>:false,
          :save_text=>"好了",:cancel_text=>"算了",
          :saving_text=>"保存…",:emptyText=>"输入你想说的话…",
          #:text_between_controls=>"test",
          :onComplete=>"if ($('#{dom_id(current_user,"my_language")}'))  $('#{dom_id(current_user,"my_language")}').update(transport.responseText.stripTags());")-%>
      </div>
      <div>
  <%#= current_user.name%>
        <%= link_to "设置",base_info_account_setting_path() %>
        <%= link_to  current_user.unread_msgs.size>0 ? "消息(<span class='red_text large strong'>#{current_user.unread_msgs.size}</span>)" : "消息",account_msgs_path() %>
        <%= link_to "退出",logout_account_path(),:title=>"退出当登录",:class=>"hot_text" %>
      </div>
    </div>
    <%= popmenu("user_img_button","set_user_state_menu") -%>
  <%else-%>
    <%if controller_name=="account" && action_name=="show"%>

      <% form_tag(url_for(:controller=>:account,:action=>"login")) do -%>

        <p>
          <%= text_field_tag  :email, params[:email]  ,:class=>"text",:title=>"*邮箱",:maxlength=>64  -%>
          <%= text_default_value 'email',"邮箱"  %>
        </p>
        <p>
          <%= password_field_tag :password, params[:password],:class=>"text",:title=>"*密码",:maxlength=>18  -%>
          <%= text_default_value 'password',"密码"  %>
        </p>
        <%= submit_tag "登录" ,:disable_with=>"登录…",:disabled=>false  -%><%= check_box_tag  "auto_login", "true",false -%><label for="auto_login"  ><span title="一个月内自动登录">自动登录</span></label>
        <%=link_to "忘记密码!",forget_password_account_path()%>
      <%end -%>
    <%else%>
      <div id="login_and_reg">
        <%= link_to "登录",{:controller=>"account",:action=>"login"} %>|
        <%= link_to "注册",{:controller=>"account",:action=>"new"} %>
      </div>
    <%end-%>
  <%end-%>
</div>
