<h1><%=  object.name %></h1>
<div class="tab">
  <ul class="item">
    <li><%= link_to   "同事",user_colleagues_path(object,:type=>"colleague") ,:class=>(params[:type]=="colleague"  ? "active-tab" : "" )  %></li>
    <li><%= link_to "可能是同事", user_colleagues_path(object,:type=>"undetermined"),:class=>(params[:type]=="undetermined" ? "active-tab" : "") if current_user?(@user)%> </li>
    <li><%= link_to "好友", user_friends_path(object),:class=>((controller_name=="friends" ) ? "active-tab" : "" ) %> </li> 
    <li><%= link_to   "关注的公司", following_user_path(object),:class=>(controller.action_name=="following" ? "active-tab" : "" )  %></li>
  </ul>
  <p class="clear_float" />
</div>
