<div class="tab">
  <ul class="item">
    <li id="<%= "current_tab" if (params[:type]=="friend" || params[:type].nil?) %>" ><%= link_to "好友", "?type=friend"  %> </li>
    <li id="<%= "current_tab" if params[:type]=="my_follow" %>" ><%= link_to "在关注谁", "?type=my_follow"  %> </li>
    <li  id="<%= "current_tab" if params[:type]=="follow_me" %>"><%= link_to   "谁关注我", "?type=follow_me" if current_user?(@user) %></li>
    <li  id="<%= "current_tab" if params[:type]=="follow_company" %>"><%= link_to   "关注的公司", "?type=follow_company"  %></li>

  </ul>
  <p class="clear_float" />
</div>
 