<%if  current_user?(@user)%>
  <div class="r small quiet" >
    查看权限设置
    <%= render :partial=>"base_infos/visibility_set",
      :locals=>{:value=>@user.setting.all_resume_visibility,:visibility_value=>"all_resume"}  %>
  </div>
<%end%>

<h1>
  <span id="<%= dom_id(object,'user_name') %>">
    <%=  h(object.name)%></span>&nbsp;
  <span id="whole_judge_star" >
    <%= big_star(object.avg_judge_value()|| 0) %>

    <span class="red_text strong">
      <%=  object.avg_judge_value.to_i%>.
      <span class="small"><%=  ((object.avg_judge_value % 0.1)).to_i %></span>
    </span>
    <%= link_to "(#{object.judges.size}人评价)",user_judges_path(object),:class=>:user_my_language %>  </span>

</h1>
<div id="whole_judge_detail_star" style=" display:none;">
  <p>
    <span>工作能力</span>
    <%= middle_star(object.avg_judge_value("ability_value")) %>
    <span class="red_text large strong"><%=  object.avg_judge_value("ability_value")%></span>
  </p>
  <p>
    <span>沟通能力</span>
    <%= middle_star(object.avg_judge_value("eq_value")) %>
    <span class="red_text large strong"><%=  object.avg_judge_value("eq_value")%></span>
  </p>
  <p>
    <span>资料真实</span>
    <%= middle_star(object.avg_judge_value("creditability_value")) %>
    <span class="red_text large strong"><%=  object.avg_judge_value("creditability_value")%></span>
  </p>
</div>
<%= popmenu('whole_judge_star','whole_judge_detail_star','hover') %>
