<div class="tab">
  <ul class="item">
    <li><%= link_to "全部", "?type=all",:class=>(params[:type]=="all" || !params[:type]) ?  "active-tab" :""   %> </li>
    <li><%= link_to "个人信息修改", "?type=resume" ,:class=>(params[:type]=="resume") ?  "active-tab" :""  %> </li>
    <li><%= link_to   "个人状态", "?type=MyLanguage",:class=>(params[:type]=="MyLanguage") ?  "active-tab" :"" %></li>
    <li><%= link_to "推荐","?type=Recommend",:class=>(params[:type]=="Recommend") ?  "active-tab" :""%></li>
    <li><%= link_to "关注", "?type=Attention" ,:class=>(params[:type]=="Attention") ?  "active-tab" :""%> </li>
    <li><%= link_to "添加好友", "?type=Friend" ,:class=>(params[:type]=="Friend") ?  "active-tab" :""  %> </li>
  </ul>
  <p class="clear_float"></p>
</div>
