<%user_name = user_icon_name.new_record? ?  "匿名" : user_icon_name.name%>
<div class="user_icon" title="<%=user_icon_name.is_alias? ? "我只是个马甲，单击可以给我发消息" :  (user_name+ " "+User::STATE_TYPES[user_icon_name.state.to_sym || :working] )   %>">
  <% link_to  user_icon_name.anonymity? ? "#" : (user_icon_name.is_alias? ? new_account_msg_path(:write_to=> user_icon_name.salt) : (current_user ? user_path(user_icon_name) : user_resumes_path(user_icon_name)) ) do  -%>
  <div class="icon"><span id="<%= dom_id(user_icon_name,"state") %>" title="<%= User::STATE_TYPES[user_icon_name.state.to_sym || :working] %>" class="user_state_<%= user_icon_name.state || :working %> user_state_at_icon <%= current_user?(user_icon_name) ? "current_user_state" : "" %>"></span><%=  image_tag user_icon_name.icon_file_path(:thumb),
        :alt=> user_name+" 图片" %></div><p><%= h(user_name.strip) -%></p>
  <%end-%>
</div>
