<%old_company ||= nil%>
<div class="user_short_info"  >
  <div class="l">
    <%= render :partial=>"users/user_icon_name",:object=> user_short_info  %>
  </div>
  <div class="icon_right_content">
    <% user_short_info.current_passes.each() do |current_pass| %>
      <div title="当前的工作">
        <b>
          <%= link_to(current_pass.company.name,company_path(current_pass.company),:target=>"_blank")%>
        </b>
        <br />
        <%= h current_pass.title%>
      </div>
    <%end if user_short_info.current_resume%>
    <%if old_company && (pass=user_short_info.passes.find_by_company_id(old_company)) then%>
      <div class="gray_background" title="过去的工作">
        <b>
          <%= link_to(pass.company.name,company_path(pass.company),:target=>"_blank")%>
        </b>
        <br />
        <%= h pass.title%>
      </div>
    <%end%>
    <div class="date_field">评价
      <%= small_star(user_short_info.avg_judge_value|| 0) %>
      <span class="red_text large strong"><%=  user_short_info.avg_judge_value%></span>
      (<%= link_to  "#{user_short_info.judges.size}人评价",user_judges_path(user_short_info) %>)
    </div>
    <div class="user_my_language"  title="<%= user_short_info.my_language %>">
      <%= truncate(auto_link(h(user_short_info.my_language)))  %>
    </div>
  </div>
  <p class="clear" />
</div> 