<div class="user_short_info" id="<%= dom_id(user_short_info,"friend") %>">
  <div class="l">
    <%= render :partial=>"users/user_icon_name",:object=> user_short_info  %>
  </div>
  <div class="short_info">

    <b>
      <%= link_to(user_short_info.current_resume.current_pass.company.name,company_path(user_short_info.current_resume.current_pass.company),:target=>"_blank") if user_short_info.current_resume.current_pass%>
    </b>
    <br />
    <%= user_short_info.current_resume.current_pass.title if user_short_info.current_resume.current_pass %>

    <div class="user_my_language"  title="<%= user_short_info.my_language %>">
      <%= truncate(auto_link(h(user_short_info.my_language)))  %>
    </div>
  </div>
  <p class="clear" />
</div> 