<div id="left_content">
  <%= render(:partial=>"users/following_type",:object=>@user)%>
  <%= highlight(render(:partial=>"companies/company_info_and_operation",:collection=>@following_objs),params[:search]) %>
  <%= will_paginate @following_objs %>
</div>

<div id="right_content">
  <% sub_block_div() do %>
    <%= render :partial=>"comm_partial/search",:locals=>{:default_text=>"输入名称",:url=>""} %>
  <%end%>
  <% sub_block_div() do %>
    <%= link_to "<< 返回 #{@user.name} 个人页面",user_path(@user) %>
  <%end%>
</div>
