
<div id="left_content">
  <h1><%= "#{current_user?(@user) ? "我" : @user.name}"  %>的好友列表</h1>
  <%= highlight(render(:partial=>"users/friend_type",:object=>@user) ,params[:search])%>
  <% if params[:type]=='follow_company' %>
    <%= highlight(render(:partial=>"companies/company_info_and_operation",:collection=>@friends_user),params[:search]) %>
  <%else%>
    <%=  highlight(render(:partial=>"users/user_info_and_operation" ,:collection=>@friends_user),params[:search])  %>
  <%end%>

  <%= will_paginate @friends_user %>
</div>
<div id="right_content">
  <% sub_block_div() do %>
    <%= render :partial=>"comm_partial/search",:locals=>{:default_text=>"输入名称",:url=>""} %>
  <%end%>
  <% sub_block_div() do %>
    <p>
      <%= link_to "<< 返回 #{@user.name} 个人页面",user_path(@user) %>
    </p>
    <p>
      <%= link_to "查看所有的同事",yokemate_list_user_path(@user) %>
    </p>
  <%end%>
</div>
