
<div id="left_content" >
  <h1><%= "#{@user.name}的小组" %></h1>
  <%= render :partial=>"users/group_type"  %>
  <% sub_block_div("") do %>
    <%= render :partial=>"groups/short_info",:collection=>@groups%>
  <%end%>

  <%= will_paginate @groups %>
</div>
<div id="right_content">
  <% sub_block_div() do %>
    <%= link_to "返回 #{@user.name} 个人页面",user_path(@user) %>
  <%end%>
  <% sub_block_div() do %>
    <%= render :partial=>"comm_partial/search",:locals=>{:default_text=>"输入小组名称"} %>
  <%end%>

</div>
