<% content_for :script do %>
  <%= javascript_include_merged :swfupload %>
<% end %>
<div id="left_content">
  <div id="resume_info" >
    <div id="user_name_and_big_star">
      <%= render :partial=>"users/info_head",:object=>@user %>
    </div>
    
    <div class="tab" >
      <div class="l">
        <span id="<%= dom_id(@user,"my_language") %>" class="user_my_language" >
          <%= auto_link(h(@user.my_language)) %>
        </span>
      </div>
      <ul class="r tabs"  >
        <li><%= link_to "<span>我的资料</span>", :anchor=>"my_resume_tab"  %> </li>
        <li><%= link_to "<span>我的语言</span>", :anchor=>"my_language_tab"   %> </li>
      </ul>
    </div>
    <div>
      <div class="panel " id="my_resume_tab">
        <div id="resume_info_show" class="main_info">
          <div id="resume_content">

          </div>
        </div>
      </div>
      <%=   javascript_tag(remote_function(:update=>'resume_content',
          :url=>url_for(:controller=>"resumes",:action=>"render_resume",
            :id=>@user.current_resume),
          :complete=>"$('resume_content').select('.required-validate').each(function(form){  new Validation(form,{
    immediate:true,
    useTitles:true,
    stopOnFirst:true
    });});", :method=>'get'))  %>

      <div class="panel" id="my_language_tab">
        <%= render :partial=>"users/my_language_info" ,:collection=> @user.my_languages.all(:limit=>12)%>
      </div>
    </div>
  </div>
</div>
<div id ="right_content">
  <% sub_block_div() do %>
    <div id="<%= dom_id(@user,"operation")%>">
      <%= render :partial=>"users/operation",:object=>@user %>
    </div>
  <%end if !current_user?(@user)%>

  <%tabs() do%>
    <%= tab_button("好友"+(@user.friend_users.size>0 ? "(#{@user.friend_users.size})"  : ""),"my_friends_tab" ) %>
    <%= tab_button("关注"+(@user.my_follow_users.size>0 ? "(#{@user.my_follow_users.size })" : ""), "my_follow_tab" ) %>
    <%= tab_button("同事"+(@user.current_resume.has_yokemates? ? "(#{@user.current_resume.yokemates.size})" : ""),"my_yokemates_tab") %>
  <%end%>
  <div>
    <div id="my_friends_tab"  class="panel" >
      <%= render :partial=>"users/user_short_info",:collection=> @user.friend_users.newly_order.find(:all,:limit=>3) %>
      <%unless   @user.friend_users.size>0%>
        <p>还没有好友</p>
      <%end%>
      <%=   link_to("查看全部…",friends_user_path(@user)) if @user.friend_users.size>0%>
    </div>
    <div id="my_follow_tab"  class="panel" >
      <%= render(:partial=>"users/user_short_info",:collection=>@user.my_follow_users.newly_order.find(:all,:limit=>3)) %>
      <%unless    @user.my_follow_users.size>0%>
        <p>还没有关注任何人</p>
      <%end%>
      <%=   link_to("查看全部…",friends_user_path(@user,:type=>"my_follow")) if @user.my_follow_users.size>0%>
    </div>
    <div id="my_yokemates_tab"  class="panel" >
      <%= render :partial=>"users/user_short_info",:collection=> @user.current_resume.yokemates.newly_order.all(:limit=>3) %>
      <%unless    @user.current_resume.has_yokemates?%>
        <p>还没有同事，赶快邀请同事进来吧。</p>
      <%end%>
      <%=  link_to("查看全部…",yokemate_list_user_path(@user)) if @user.current_resume.has_yokemates?%>
    </div>
  </div>

  <% sub_block_div("关注的公司"+(@user.my_follow_companies.size>0 ? "(#{@user.my_follow_companies.size})" : ""),
    (link_to("全部",friends_user_path(@user,:type=>"follow_company")) if @user.my_follow_companies.size>0)) do %>
    <%= render :partial=>"companies/company_short_info",:collection=> @user.my_follow_companies.find(:all,:limit=>10)%>
  <%end%>
  <% if  current_user?(@user) %>
    <% sub_block_div("参加的小组"+(@user.all_groups.size>0 ? "(#{@user.all_groups.size})" : ""),
      (link_to("全部", groups_user_path(@user)) if @user.all_groups.size>0)) do %>
    <%#*<div title="包含马甲身份参加的小组 只有你能看到">%>
      <ul class="float_ul">
        <%= render :partial=>"groups/float_icon_name",:collection=>@user.all_groups.find(:all,:limit=>4)%>
      </ul>

    <%#*</div>%>
    <%end%>
  <%else%>
    <% sub_block_div("小组"+(@user.groups.size>0 ? "(#{@user.groups.size})" : ""),
      (link_to("全部", groups_user_path(@user)) if @user.groups.size>0)) do %>
      <ul class="float_ul">
        <%= render :partial=>"groups/float_icon_name",:collection=>@user.groups.find(:all,:limit=>4)%>
      </ul>
    <%end%>
  <%end%>
  <% sub_block_div("动态 ",
    (link_to("全部",logs_user_path(@user))  if @user.log_items.size>0)) do%>
    <%= render :partial=>"comm_partial/show_log",:object=>@user.log_items.all(:limit=>8),:locals=>{:hide_left=>true} %>
  <%end%>
</div>
