
<div id="left_content">
  <%= render(:partial=>"users/friend_type",:object=>@user)%>
  <h3><%=  params[:pass_id] ? @pass.company.name : "全部" %></h3>
  <%= render :partial=>"users/user_info_and_operation" ,:collection=> @colleagues %>

  <%= will_paginate  @colleagues %>
</div>

<div id="right_content">
  <% sub_block_div() do %>
    <%= link_to "<< #{@user.name} 首页",user_path(@user) %>
  <%end%>
  <% sub_block_div() do %>

    <ul class="list">
      <li id="<%=  params[:pass_id].to_s.empty? ?  "current_li"  : "" %>"><%= link_to "全部",yokemate_list_user_path(@user) %></li>
      <% @user.current_resume.passes.each do |pass|-%>
        <li id="<%= pass.to_param==params[:pass_id] ? "current_li" : "" %>" >
          <%= link_to  "#{pass.company.name} (#{pass.colleagues.size})" ,yokemate_list_user_path(@user,:pass_id=>pass) -%></li>
      <%end-%>
    </ul>

  <%end%>
</div>
