
<div id="left_content">
  <h1><%=  @user.name %>的同事</h1>
  <h2><%=  params[:pass_id] ? @pass.company.name : "全部" %></h2>
  <%= render :partial=>"users/user_info_and_operation" ,:collection=> @yokemates %>

  <%= will_paginate  @yokemates %>
</div>

<div id="right_content">
  <% sub_block_div() do %>
    <%= link_to "<< #{@user.name} 首页",user_path(@user) %>
  <%end%>
  <% sub_block_div() do %>
    <div class="link_list">
      <ul>
        <li id="<%=  params[:pass_id] ? "" : "current_company" %>"><%= link_to "全部",yokemate_list_user_path(@user) -%></li>
        <% @user.current_resume.passes.each do |pass|-%>
          <li id="<%= pass.to_param==params[:pass_id] ? "current_company" : "" %>" >
          <%= link_to  "#{pass.company.name} (#{pass.yokemates.size})" ,yokemate_list_user_path(@user,:pass_id=>pass) -%></li>
        <%end-%>
      </ul>
    </div>
  <%end%>
</div>
