<% piece_news = news_short_info
show_icon ||= false
%>
<div class="news_short_content" >
  <p class="news_title">
    <%= link_to "#{piece_news.title}", company_piecenews_path(piece_news.owner,piece_news),:target=>"_blank" %>
  </p>

  <div class="news_content">

    <p class="r">
      <b>被推荐 </b> <%= link_to piece_news.recommends_count,'',:class=>"recommand_count" %> 次
      <b>回复 </b> <%= link_to piece_news.comments_count,'',:class=>"" %> 次
    </p>
    <p class="date_field">
      <%=link_to piece_news.create_user.name ,user_path(piece_news.create_user) %> <%= " #{localize(piece_news.created_at)} 发布 " %>
      <%=  link_to(piece_news.last_edit_user.name ,users_path(piece_news.last_edit_user)) + " #{localize(piece_news.created_at)} 修改" if  piece_news.last_edit_user%>
    </p>
     <p class="c"></p>
    <div class="r">
      <%= render :partial=>"companies/company_icon",:object=>piece_news.owner if show_icon  %>
    </div>
    <div>
      <%= h(truncate("#{piece_news.content}", :length=>255))%>
    </div>

    <p>
      <%= link_to "查看详细…", company_piecenews_path(piece_news.owner,piece_news),:target=>"_blank" %>  <%= link_to '编辑', edit_company_piecenews_path(piece_news.owner,piece_news) if piece_news.owner.current_employees.exists?(current_user)%>
      <%= link_to '删除', company_piecenews_path(piece_news.owner,piece_news), :confirm => '确定删除吗?', :method => :delete if piece_news.owner.current_employees.exists?(current_user) %>
    </p>    <p class="c"></p>
  </div>
</div>
