<div id="left_content">
  <% form_for(@piece_of_news,:url=>company_piecenews_path(params[:company_id],@piece_of_news) ,
    :html=>{:method=>:put,:class=>"form_info required-validate"}) do |f| %>
    <%= f.error_messages %>
    <h1>编辑公司博客</h1>
    <%= render :partial=>"news/form",:object=>f %>
    <p >
      <%= f.submit '保存',:disable_with=>"保存…",:disabled => false,:class=>"button"  %> <%= link_to_function "取消","history.go(-1)" %>
    </p>
  <% end %>
</div>

<div id="right_content">
  <%= link_to "#{@company.name}首页", company_path(params[:company_id]) %><br/>
  <%= link_to "#{@company.name}所有有公司博客", company_news_path(params[:company_id]) %><br />
  <%= link_to '显示', company_piecenews_path(params[:company_id],@piece_of_news) %>
</div>