<div id="left_content">
  <div class="r">
    <%= render :partial=>"companies/company_icon",:object=>@company if @company%>
  </div>
  <h1><%= "#{@company ? @company.name : ''} 公司博客" %> </h1>
  <div class="bottom_gray_line">
    <p class='r'>
      <%= label_tag :search ,"排序",:class=>"filed_lab" %>
      <%= select_tag :view_count_order_select,options_for_view_count(params[:view_count]),
        {:onchange=>"$('view_count').value = this.value;$('search_submit').click();"} %>
      <%= select_tag :created_order_select,options_for_created_order(params[:created_order]),
        {:onchange=>"$('created_order').value = this.value;$('search_submit').click();"} %>

      记录共<%= @news.size %>条
    </p>
    <p class="c"/>
  </div>
  <p class="clear"></p>
  <%= render :partial=>"news/news_short_info",:collection=>@news,:locals=>{:show_icon=>!@company}%>
  <%= will_paginate @news %>

</div>
<div id="right_content">
  <% sub_block_div() do%>
    <% form_for "search",{},:html=>{:id=>'search_form',:method=>"get",:class=>''} do |f| %>
      <p>
        <%= text_field_tag  "search","",:class=>"text",:value=>params[:search] %>
        <%= text_default_value 'search',"输入标题或内容" %>
        <%= hidden_field_tag :created_order,params[:created_order],:id=>"created_order"%>
        <%= hidden_field_tag :view_count,params[:view_count],:id=>"view_count"%>
        <%=  f.submit "搜索" ,:disable_with=>"搜索",:disabled => false,:class=>"button"%>
      </p>
    <%end%>
  <%end%>
  <%sub_block_div('') do%>
    <%= link_to "返回[#{@company.name}]首页",company_path(@company)  %>
    <br class="clear"/>
    <%= link_to '我来发布公司博客', new_company_piecenews_path(params[:company_id]),:class=>"button" %>
  <%end if @company%>
<%#*,link_to("全部",{:action=>:search,:view_count=>"desc"})%>
  <%sub_block_div('最热门公司博客') do%>
    <%= render :partial=>"comm_partial/topic_or_news_title_item",:collection=>@hot_news%>
  <%end%>

  <%sub_block_div("评价最高的公司博客") do%>
    <%= render :partial=>"comm_partial/topic_or_news_title_item",:collection=> @higher_scope_news %>
  <%end%>
  <%sub_block_div("评价最高的回复") do%>
    <%= render :partial=>"comments/hot_comment",:collection=> @higher_scope_comments,:locals=>{:show_news_title=>true} %>
  <%end%>
</div>