<div id="left_content">
  <h2><%= @company ? @company.name : '' %>&nbsp;新闻搜索</h2>
  <div class="bottom_gray_line">
    <p class='r'>
      <%= label_tag :search ,"排序",:class=>"filed_lab" %>
      <%= select_tag :up_order_select,options_for_select([["不排序",''],["按好评降序",'desc'],["按好评升序",'asc']],params[:up_order]),
        {:onchange=>"$('up_order').value = this.value;$('search_submit').click();"} %>
      <%= select_tag :created_order_select,options_for_select([["不排序",''],["按发布日期降序",'desc'],["按发布日期升序",'asc']],params[:created_order]),
        {:onchange=>"$('created_order').value = this.value;$('search_submit').click();"} %>

      记录共<%= @news.size %>条
    </p>
    <p class="c"/>
  </div>
  <div id="search_result">
    <%= render :partial=>"news/news_short_info",:collection=>@news %>
    <%= will_paginate  @news %>
  </div>
</div>
<div id="right_content">
  <% sub_block_div("") do%>
    <%if @company -%>
      <%= link_to "返回[#{@company.name}]新闻首页",[@company,:news]  %>
    <%else%>
      <%= link_to "返回新闻首页",[:news]  %>
    <%end%>
  <%end%>

  <% sub_block_div("搜索条件") do%>
    <% form_for "search",:url=>{:action=>'search'},:html=>{:id=>'search_form',:method=>"get",:class=>''} do |f| %>
      <p>
        <%= text_field_tag  "search","",:class=>"text",:value=>params[:search] %>
        <%= text_default_value 'search',"输入标题或内容" %>
        <%= hidden_field_tag :created_order,params[:created_order],:id=>"created_order"%>
        <%= hidden_field_tag :up_order,params[:up_order],:id=>"up_order"%>
        <%=  f.submit "搜索" ,:disable_with=>"搜索",:disabled => false,:class=>"button"%>
      </p>
    <%end%>
  <%end%>
</div>
