<% content_for :script do %>
  <%= javascript_include_merged :swfupload %>
<% end %>
<div id="left_content">
  <%= render :partial=>"settings/type" %>

  <% form_for(@alias,:url=>alias_account_setting_path(),:html=>{:id=>"set_base_info_page",:method=>:put,:class=>"required-validate form_info" }) do |f| %>
    <%= f.error_messages %>
    <div class="thumb_img">
      <%= img_upload_field( attachments_path(),
        @alias.icon_file_path,
        nil,
        {:button_text=>" 更改图片",:post_params=>{:type=>UserIcon.to_s},:button_width=>60,:button_height=>18
        }) %>
    </div>
    <p>
      <%= f.label :nick_name,"马甲名称",:class=>"filed_lab" %>
      <%= f.text_field :nick_name,:class=>"required text",:maxlength=>16 %>
    </p>
    <p id="form_button">
      <%= submit_tag "保存"  ,:class=>"button"  -%>
    </p>
  <% end %>
</div>
<div id="right_content">

</div>