<div id="left_content">
  <%= render :partial=>"settings/type" %>
  <% form_for(@user.setting ,:url=>auth_account_setting_path(),:html=>{:class=>"form_info"}) do |form| %>
    <p>
      <%= form.label :all_resume_visibility,"个人资料",:class=>"filed_lab" %>&nbsp;
      <%= form.select :all_resume_visibility,UserSetting::VISIBILITY_TYPES %>
    </p>
    <p>
      <%= form.label :apply_friend_auth,"添加好友",:class=>"filed_lab" %>&nbsp;
      <%= form.select :apply_friend_auth,UserSetting::APPLY_FRIEND_TYPES  %>
    </p>

    <p id="form_button">
      <%= form.submit "保存",:disable_with=>"保存…",:disabled => false ,:class=>"button"  %>
    </p>
  <%end%>
</div>

<div id="right_content">
  <% sub_block_div do%>
    <dl>
      <dt>个人资料</dt>
      <dd>
        公开
        任何都能看到
        不公开
        除自己外，任何人都看不到。
      </dd>
      <p>
      <dt>添加好友</dt>
      <dd>
        允许，任何人都可以加为好友；需申请，需要同意后才能加为好友；不允许，不允许任何人加为好友
      </dd>
      </p>
    </dl>
  <%end%>
</div>