<%work_item = show_work_item_info%>
<div>
  <%if current_user?(work_item.user) %>
    <span class="operation_lab">
      <%=  link_to_remote "",
        {:update=>dom_id(work_item,"edit_container") ,
        :before=>" PerpareEdit('#{dom_id(work_item)}');",
        :complete=>"$('#{dom_id(work_item,"edit")}').focusFirstElement();
    new Validation($('#{dom_id(work_item,"edit")}'),{immediate:true,
    useTitles:true,
    stopOnFirst:true
    });",
        :url=>edit_user_resume_pass_work_item_path(work_item.user,work_item.pass.resume,work_item.pass.id,work_item.id),:method=>"get"},
        :class=>"edit_img_button",:title=>"编辑"%>
      <%=  link_to_remote "",
        {:url=>user_resume_pass_work_item_path(work_item.user,work_item.pass.resume,work_item.pass.id,work_item.id), :confirm => '确定删除吗?', :method => :delete},
        :class=>"del_img_button",:title=>"删除"%>
    </span>
  <%end%>
  <%= work_item.name%>
</div>
<p  class="quiet">
  <%= localize(work_item.begin_date,:format=>:long_month)%> - <%=  localize(work_item.end_date,:format=>:long_month)%>  (<%= distance_of_time_in_words(work_item.begin_date,work_item.end_date)%>)
</p>
<p>
  <%=  (work_item.work_description )%>
</p>
