<%  show_tag ||= false %>
<div class="company_short_info" >
  <div class="l">
    <%= render :partial=>"companies/company_icon",:object=>company_short_info %>
  </div>
  <div class="icon_right_content">
    <div class="company_name">
      <%= link_to  company_short_info.name,
        company_path(company_short_info)  %>
    </div>
    <div class="quiet" >
      待遇 <%= small_star(company_short_info.judges.average("salary_value") || 0 ) %>
      <span class="red_text strong large"><%=  company_short_info.judges.average("salary_value").to_f.round(1)%></span>
      <br />
      环境
      <%= small_star(company_short_info.judges.average("condition_value")|| 0  || 0) %>
      <span class="red_text strong large"><%=  company_short_info.judges.average("condition_value").to_f.round(1)%></span>
       <%= link_to("(#{object.judges.size}人评价",company_company_judges_path(object))+")" if object.judges.size>0 %>
    </div>
    <p>
      <%= company_short_title(company_short_info) %>
    </p>
    <%if show_tag%>
    <p class="gray_background">
      <b>&nbsp;标签:</b><%= render :partial=>"tags/tag_topN_list",:object=>company_short_info %>
    </p>
    <%end%>
  </div>
</div>