<% company=   show_star_rating %>
<div >
  待遇
  <%= middle_star(company.judges.average("salary_value") || 0) %><span class="red_text"><%= company.judges.average("salary_value") %></span>
  <%=  link_to_function "详细>>", " Element.toggle('#{dom_id(company,"salary_detail_judge")}');if (Element.visible('#{dom_id(company,"salary_detail_judge")}')) this.update('详细<<'); else this.update('详细>>') ;"%>
  <div id="<%=  dom_id(company,"salary_detail_judge") %>" style="display:none" class="detail_judge" >
    <% for i in 1..5 %>
      <%= small_star_and_process_bar(i,get_percent(company.all_employees.size,company.salary_judge_count(i))) %>
      <br />
    <%end%>
  </div>
</div>
<div>
  环境
<%= middle_star(company.judges.average("condition_value")|| 0) %><span class="red_text"><%=  company.judges.average("condition_value")%></span>
  <%=  link_to_function "详细>>", " ;Element.toggle('#{dom_id(company,"condition_detail_judge")}');if (Element.visible('#{dom_id(company,"condition_detail_judge")}')) this.update('详细<<'); else this.update('详细>>') ;"%>
  <%= link_to("共#{company.condition_judge_count}人评价",company_company_judges_path(@company)) if@company.judges.size>0 %>
  <div id="<%=  dom_id(company,"condition_detail_judge") %>" style="display:none" class="detail_judge">
    <% for i in 1..5 %>
      <%= small_star_and_process_bar(i,get_percent(company.all_employees.size,company.condition_judge_count(i))) %>
      <br />
    <%end%>
  </div>
</div>
