<%#*公司的员工%>
<div id="left_content" >
  <h1><%= @company.name  %></h1>
  <%= render :partial=>"companies/employee_type"  %>
  <%= render :partial=>"users/user_info_and_operation",:collection=>  @employees,
    :locals=>{:old_company=>params[:type]=='pass' ? params[:id] : nil   } %>
  <%#= will_paginate  @employees  %>
</div>
<div id="right_content">
  <% sub_block_div() do %>
    <%= render :partial=>"comm_partial/search",:locals=>{:default_text=>"输入名称",:url=>""} %>
  <%end%>
  <% sub_block_div() do %>
    <%= link_to "返回[#{@company.name}]首页",company_path(@company) %>
  <%end%>
</div>