<div id="left_content">
  <% sub_block_div("") do%>
    <div >
      <%= render :partial=>"comm_partial/search",:locals=>{:default_text=>"输入公司名称"} %></div>

  <%end%>

  <% sub_block_div("行业") do%>
    <%i= 1%>
    <ul id="industry_link_list" class="set_center">
      <% Industry.all.each do |item| -%>
        <li>
          <%=  link_to item.name,{:action=>'search',:industry_id=>item.id} %>
        </li>
        <% i= i+1 -%>
      <%end-%>
    </ul>
  <%end%>
  <%sub_block_div("公司热门标签",link_to("全部",tags_path(:type=>:Company))) do%>
    <%= render :partial=>"tags/tag_info" ,:collection=>@hot_tags,:locals=>{:type=>:Company}  %> <%=  link_to("…",tags_path(:type=>:Company))%>
  <%end%>
</div>
<div id="right_content">

<%#= link_to "我来创建公司" ,new_company_path(),:class=>"button"%>

  <% sub_block_div("最新加入的公司") do%>
    <%= render :partial=>"companies/company_short_info",:collection=>@newly_companies %>
  <%end%>
</div>