<div id="left_content">
  <h1>新闻</h1>
  <%= render :partial=>"news/news_short_info",:collection=>@news,:locals=>{:show_icon=>true} %>
  <%= will_paginate @news %>
</div>
<div id="right_content">
  <% sub_block_div() do%>
    <%= render :partial=>"comm_partial/search",:locals=>{:default_text=>"输入关键字"} %>
  <%end%>
  <%sub_block_div("最热门新闻") do%>
    <%= render :partial=>"comm_partial/topic_or_news_title_item",:collection=>Piecenews.populars(:limit=>15) %>
  <%end%>
  <%sub_block_div("推荐最多的新闻") do%>
    <%= render :partial=>"comm_partial/topic_or_news_title_item",:collection=>Piecenews.most_recommand(:limit=>15) %>
  <%end%>
  <%sub_block_div("热门回复") do%>
    <%= render :partial=>"comments/hot_comment",:collection=>Comment.all(:conditions=>["commentable_type=?","Piecenews"],:order=>"up-down desc",:limit=>20),:locals=>{:show_news_title=>true} %>
  <%end%>
</div>