<div id="left_content">
  <h2>公司搜索</h2>
  <div class="bottom_gray_line "  >
    <p class="r">
      <%= label_tag :search ,"排序",:class=>"filed_lab" %>
      <%= select_tag :salary_order_select,options_for_select([['不排序',""],["按待遇升序",'asc'],["按待遇降序",'desc']],params[:salary_order]),
        {:onchange=>"$('salary_order').value=this.value;$('search_submit').click();"} %> <%= select_tag :condition_order_select,options_for_select([['不排序',""],["按环境升序",'asc'],["按环境降序",'desc']],params[:condition_order]),
        {:onchange=>"$('condition_order').value=this.value;$('search_submit').click();"} %>  记录共<%= @companies.size %>条
    </p>
    <p class="c"/>
  </div>
  <div id="search_result">
    <%= render :partial=>"companies/company_info_and_operation",:collection=>@companies %>
    <%= will_paginate  @companies %>
  </div>
</div>
<div id="right_content">
  <% sub_block_div() do%>
    <%= link_to "<< 返回公司首页",companies_path() %>
  <%end%>
  <% sub_block_div("搜索条件") do%>
    <% form_for "search",:url=>{:action=>'search'},:html=>{:id=>'search_form',:method=>"get",:class=>''} do |f| %>
      <%= hidden_field_tag :salary_order,params[:salary_order],:id=>:salary_order %>
      <%= hidden_field_tag :condition_order,params[:condition_order],:id=>:condition_order %>
      <p>
        <%= label_tag :search ,"公司名称",:class=>"filed_lab" %><br/>
        <%= text_field_tag  "search","",:class=>"text",:value=>params[:search] %>
        <%= text_default_value 'search',"输入公司名称" %>
        <%=  f.submit "搜索" ,:disable_with=>"搜索",:disabled => false,:class=>"button"%>
      </p>
      <p>
        <%= label_tag :industry ,"所属行业",:class=>"filed_lab" %><br/>
        <%= select_tag  :industry_id,
          options_for_select([['所有行业',0]]+Industry.all.collect {|p| [ p.name, p.id ] },:selected=>params[:industry_id].to_i),
          {:onchange=>'this.form.submit();'}  %>
      </p>
      <p>
        <%= label_tag :company_type, "公司类型",:class=>"filed_lab" %><br/>
        <%= select_tag :company_type_id, options_for_select([['所有类型',0]]+CompanyType.all.collect{|p| [ p.name, p.id ] },params[:company_type_id].to_i),
          {:onchange=>'this.form.submit();'} %>
      </p>
      <p>
        <%= label_tag  :size,"公司规模",:class=>"filed_lab" %><br/>
        <%= select_tag :company_size_id,options_for_select([['所有规模',0]]+CompanySize.all.collect {|p| [ p.name, p.id ] },params[:company_size_id].to_i),
          {:onchange=>'this.form.submit();'}  %>
      </p>

      <p>
        <%=label_tag  :address ,"城市",:class=>"filed_lab" %><br/>
        <%= select_tag :state_id,options_for_select([['所有省',0]]+State.all.collect {|p| [p.name,p.id]},params[:state_id].to_i),
          {:onchange=>'this.form.submit();return false;'}  %>
        <%= select_tag :city_id,options_for_select([['所有市',0]]+City.find_all_by_state_id(params[:state_id]).collect{|q| [q.name,q.id] } ,params[:city_id].to_i),
          {:onchange=>'this.form.submit();return false;'}  %>
        <%=  drop_list("state_id","city_id",[[0,[[0,'所有市']]]]+State.all.collect {|p| [ p.id,[[0,'所有市']]+p.cities.all.collect{|q| [q.id,q.name] } ] })%>
      </p>
    <%end%>
  <%end%>
</div>