<%#*显示公司信息%>
<div id="left_content">
  <h1>
    <%=h @company.name %>
  </h1>
  <div id="company_info_show" class="main_info">
    <div class="thumb_img">
      <%= image_tag @company.icon_file_path %></div>
    <h4>
      <%=  company_short_title @company  %>
    </h4>
    <div id="company_star_rating" >
      <%= render :partial=>"companies/show_star_rating" ,:object=>@company %>
    </div>
    <div class="form_row">
      <h3>公司信息</h3>
      <%=simple_format(auto_link(h(@company.description))) %>
    </div>

    <%if !@company.phone.blank?%>
      <p>
        <b>电话:</b>
        <%= auto_link(h(@company.phone))  %>
      </p>
    <%end%>
    <%if !@company.fax.blank?%>
      <p>
        <b>传真:</b>
        <%= auto_link(h(@company.fax)) %>
      </p>
    <%end%>
    <% if !@company.website.blank? %>
      <p>
        <b>网站:</b>
        <%= auto_link(h(@company.website), :all, :target => "_blank")%>
      </p>
    <%end%>
    <p>
      <b>地址:</b>
      <%= link_to @company.state.name,{:action=>'search',:state_id=>@company.state_id} %>&nbsp;
      <%= link_to @company.city.name,{:action=>'search',:city_id=>@company.city_id,:state_id=>@company.state_id} %>
      <%= h(@company.address) if  @company.address%>
    </p>
    <p>
      <b>标签:</b>
      <span id="tag_topN_list">
        <%= render :partial=>"tags/tag_topN_list",:object=>@company %>
      </span>
    </p>
    <p>
      <b> <%= link_to @company.create_user.name,user_path(@company.create_user)%>  </b> 创建于 <%=  localize(@company.created_at,:format=>:long)%>&nbsp;&nbsp;
      <%if @company.last_edit_user%>
        <b> <%= link_to @company.last_edit_user.name,user_path(@company.last_edit_user) %>  </b> 最后修改于 <%= localize(@company.updated_at,:format=>:long)%>
      <%end%>
    </p>
  </div>

  <% sub_block_div("评价信息(#{@company.judges.size})",
    (link_to("全部",company_company_judges_path(@company)) if@company.judges.size>0)) do %>
    <div id="company_judge_infos">
      <%= render :partial=>"company_judges/show_judge_info",:collection=>@company.judges.find(:all,:limit=>4) %>
    </div>
  <%end if @company.judges.size>0%>
  <%  sub_block_div("话题(#{@company.topics.size})", link_to("+我发言",new_company_topic_path(@company),:title=>"我来发布新话题")+
      "&nbsp;"+(link_to("全部", company_topics_path(@company)))) do  %>
    <%= render :partial=>"topics/topic_item",:collection=>@company.topics.top_level_and_last_comment.all(:limit=>10) %>
    <%=  %>
  <%end%>
</div>
<div id ="right_content">
  <%  sub_block_div() do %>
    <div id="<%= dom_id(@company,"operation") %>">
      <%= render :partial=>"companies/operation",:object=>@company %>
      <div class="c"/>
    </div>
  <%end%>
  <%tabs do%>
    <%= tab_button("当前员工"+(@company.current_employees.size>0 ? "(#{@company.current_employees.size})" : ""),"current_employees_tab" ) %>
    <%= tab_button("曾经员工"+(@company.pass_employees.size>0 ? "(#{@company.pass_employees.size})"  : ""),"pass_employees_tab") %>
  <%end%>
  <div>
    <div id="current_employees_tab"  class="panel" >
      <%= render :partial=>"users/user_short_info",:collection=> @company.current_employees.find(:all,:order=>'created_at desc',:limit=>4) %>
      <%unless    @company.current_employees.size>0%>
        <p class="quiet">还没有当前员工的信息</p>
      <%end%>
      <p >
        <%=   link_to("更多…",employee_list_company_path(@company)) if @company.current_employees.size>0%>
      </p>
    </div>
    <div id="pass_employees_tab"  class="panel" >
      <% @company.pass_employees.find(:all,:limit=>4).each() do |employee| %>
        <%= render :partial=>"users/user_short_info",:object=>  employee,:locals=>{:old_company=>params[:id]} %>
      <%end%>
      <%unless    @company.pass_employees.size>0%>
        <p class="quiet">还没有过去员工的信息</p>
      <%end%>
      <p  >
        <%=   link_to("更多…",employee_list_company_path(@company,:type=>'pass')) if @company.pass_employees.size>0%>
      </p>
    </div>
  </div>
  <% sub_block_div("招聘职位(#{@company.jobs.size})",link_to("全部",company_jobs_path(@company))) do %>
    <ul class="list">
      <%= render :partial=>"jobs/short_item",:collection=>@company.jobs.limit(5) %>
    </ul>
  <%end if @company.jobs.size>0%>
  <% sub_block_div("动态",link_to("全部",logs_company_path(@company)) ) do %>
    <%= render :partial=>"comm_partial/show_log",:object=>@company.log_items.all(:limit=>4),:locals=>{:hide_left=>true} %>
  <%end if @company.log_items.size>0%>

  <% sub_block_div("相关公司") do %>
    <%= render :partial=>"companies/company_short_info",:collection=> @company.related_companies.limit(4) %>
  <%end%>
</div>