<div id="left_content">
  <h1><%= "#{@tag.name} 标签公司" %></h1>
  <%= render :partial=>"companies/company_info_and_operation",:collection=>@companies %>
  <%= will_paginate  @companies %>
</div>
<div id="right_content">
  <%sub_block_div("") do%>
    <p>
      <%= link_to "返回所有公司首页" ,companies_path() %>
    </p>
    <p>
      <%= link_to "查看所有标签",all_tags_companies_path() %>
    </p>
  <%end%>
  <%sub_block_div("相关的标签") do%>
    <%= render :partial=>"comm_partial/show_tag" ,:collection=> @similar_taggings  %>
  <%end%>
</div>
