<div id="left_content">
  <h1> <%= "#{@company.name}" %></h1>
  <h2>所有标签</h2>
  <%= render :partial=>"tags/search" %>
  <%= render :partial=>"comm_partial/show_tag" ,:collection=>@tags  %>
  <%= will_paginate  @tags %>
</div>
<div id="right_content">
  <%= link_to "<< 返回 #{@company.name}",company_path(@company) %>
</div>