
<div  class="item_content" id="<%= dom_id(object,"item") %>">
  <div class="l">
    <%= render :partial=>"users/user_icon_name",:object=> object.poster %>
  </div>
  <div class="icon_right_content">
    <p class="r">
      <%= link_to "继续传播","#",:class=>"button positive" ,:title=>"继续传播" %>
      <%= link_to "删除", {:url=>"#",:confirm=>"你确定吗?"},:class=>"button negative" ,:title=>"删除" %>
    </p>
    <p class="quiet">
      <%=  localize(object.created_at) %>
    </p>
    <p>
      <% if object.broadcast.broadcastable_type=="Job" %>
        <%= link_to  object.broadcast.broadcastable.create_user.name,object.broadcast.broadcastable.create_user %>
        发布的招聘&nbsp;“
        <%= link_to object.broadcast.broadcastable.title, object.broadcast.broadcastable%>”
      <%else%>
        <%= link_to  object.broadcast.broadcastable.poster.name,object.broadcast.broadcastable.poster %>
        发布的求职&nbsp;“
        <%= link_to object.broadcast.broadcastable.title, object.broadcast.broadcastable%>”
      <%end%>
    </p>
    <blockquote>
      <%=   h object.broadcast.memo %>
    </blockquote>



  </div>
  <p class="clear" />
</div>
