
<div  class= "<%= cycle("item_content", "gray_background item_content") %>"  id="<%= dom_id(object) %>">
  <div class="l">
    <%= render :partial=>"users/user_icon_name",:object=> object.poster %>
  </div>
  <div class="icon_right_content">
    <p class="r">
      <%= link_to_remote "继续转发",{:url=>redo_broadcast_path(object)},:class=>"button positive" ,:title=>"继续转发" %>
      <%= link_to_remote "忽略", {:url=>ignore_broadcast_path(object),:confirm=>"你确定吗?"},:class=>"button negative" ,:title=>"删除" %>
    </p>
    <p class="quiet">
      <%=  localize(object.created_at) %>
    </p>
    <blockquote>
      <%=   h object.broadcast.memo %>
    </blockquote>
    <p>
      <%= link_to_user_name  object.broadcast.broadcastable.poster  %>
      <% if object.broadcast.broadcastable_type=="Job" %>
        发布的招聘&nbsp;“
      <%else%>
        发布的求职&nbsp;“
      <%end%>
      <%= link_to object.broadcast.broadcastable.title, object.broadcast.broadcastable,:target=>"_blank"%>”
    </p>

  </div>
  <p class="clear" />
</div>
