<p>
  <b>User:</b>
  <%=h @broadcast.user_id %>
</p>

<p>
  <b>Memo:</b>
  <%=h @broadcast.memo %>
</p>

<p>
  <b>Broadcast type:</b>
  <%=h @broadcast.broadcast_type %>
</p>

<p>
  <b>Broadcast:</b>
  <%=h @broadcast.broadcast_id %>
</p>


<%= link_to 'Edit', edit_broadcast_path(@broadcast) %> |
<%= link_to 'Back', broadcasts_path %>