<div id="left_content">
  <%= render(:partial=>"users/following_type",:object=>@user)%>
  <h3><%=  params[:pass_id] ? @pass.company.name : "全部" %></h3>
  <%= render :partial=>"users/user_info_and_operation" ,:collection=> @colleeagus %>
  <%= will_paginate  @colleeagus %>
</div>

<div id="right_content">
  <% sub_block_div() do %>
    <%= link_to "<< #{@user.name} 首页",user_path(@user) %>
  <%end%>
  <% sub_block_div() do %>
    <ul class="list">
      <li id="<%=  params[:pass_id].to_s.empty? ?  "current_li "  : "" %>" class="topic_item"><%= link_to "全部",user_colleagues_path(@user,:type=>params[:type]) %></li>
      <% @user.current_resume.passes.each do |pass|-%>
        <li id="<%= pass.to_param==params[:pass_id] ? "current_li" : "" %>"  class="topic_item">
          <%= link_to  "#{pass.company.name} (#{ params[:type]=="undetermined" ? pass.undetermined_colleagues.count :  pass.colleagues.count})" ,user_colleagues_path(@user,:type=>params[:type],:pass_id=>pass) -%></li>
      <%end-%>
    </ul>
  <%end%>
</div>
