<% remote_form_for "login",:url=>{:action=>"ajax_login"} ,
  :loading=>"$$('input[name=\\'commit\\']').each(function(s) \
{s.disabled=true;}.bind(this))",
  :complete=>"$$('input[name=\\'commit\\']').each(function(s) \
{s.disabled=false;}.bind(this))",
  :html=>{:class=>"required-validate  form_info",:id=>"ajx_login_form"} do   -%>
  <h2>登录</h2>
  <%= render :partial=>"account/login_form"  %>
  <p id="form_button">
    <%= submit_tag "登录"    -%>    <%=link_to "注册",:action=>"new" -%> <%=link_to "忘记密码",forget_password_account_path()%>
  </p>
<% end %>
<%=  javascript_tag("validation = new Validation('ajx_login_form',{immediate:true,useTitles:true,stopOnFirst:true});
  Event.observe('ajx_login_form','reset',function() {validation.reset();},false);") %>