<div id="left_content">
  <div class="form_info center_block" id="new_user_page">
    <h1>注册</h1>
    <% form_for(:user,  @user,:url=>{:action=>"create"},:html=>{:class=>"required-validate"}) do |f| %>
      <%= f.error_messages %>
      <%= hidden_field_tag :request_company_id, params[:request_company_id] %>
      <%= hidden_field_tag :request_user_id, params[:request_user_id] %>
      <p>
        <%= f.label :nick_name,"姓名",:class=>"filed_lab" %>
        <%= f.text_field  :nick_name,:class=>"required  text",:title=>"请输入姓名",:maxlength=>10 %>
      </p>
      <p>
        <%= f.label :email,"邮箱",:class=>"filed_lab" %>
        <%= f.text_field :email,:class=>"text validate-email  required validate-ajax-#{check_email_account_path}",:maxlength=>64 %>
      </p>
      <p>
        <%= f.label :text_password,"密码" ,:class=>"filed_lab"%>
        <%= f.password_field :text_password ,:class=>"text required",:title=>"请输入密码",:maxlength=>18%>
      </p>
      <p>
        <%= f.label :text_password_confirmation,"重复密码" ,:class=>"filed_lab"%>
        <%= f.password_field :text_password_confirmation,
          :class=>"text validate-equals-user_text_password useTitle",:title=>"两次输入的密码不相同",:maxlength=>18 %>
      </p>
      <p id="form_button">
        <%= f.submit '注册',:disable_with=>"注册…",:class=>"button"  %> &nbsp;  <%= link_to '注册了,去登录',login_account_path %>
      </p>
    <% end %>
  </div>
</div>
<div id="right_content">
  <% sub_block_div do%>
    <dl>
      <dt>注册</dt>
      <dd>
        简单一步，即可注册成功。
      </dd>
      <p>
      <dt>忘记密码</dt>
      <dd>
        我有账号忘记密码了，<%=link_to "找回密码？",forget_password_account_path()%>
      </dd>
      </p>
    </dl>
  <%end%>
</div>

