<div id="left_content">
  <div class="form_info center_block">
    <h1>重设密码</h1>
    <%form_tag({:token => @token.value},:id=>"user_login_page",:class=>"required-validate" ) do%>

      <p><%=label_tag "email_label", "邮件 ",{:for=>"",:class=>"filed_lab"} %>
        <%= @token.user.email%>
      </p>
      <p>
        <%=label_tag "password_label", "密码",{:for=>"text_password",:class=>"filed_lab"} %>
        <%= password_field_tag :text_password ,"",:class=>"required text",:title=>"*密码",:maxlength=>18 %>

      </p>
      <p>
        <%=label_tag "text_password_confirmation_label", "确认密码",
          {:for=>"text_password_confirmation",:class=>"filed_lab" }%>
        <%= password_field_tag :text_password_confirmation,"",:class=>"text required validate-equals-text_password",:title=>"*两次输入的密码不相同",:maxlength=>18 %>
      </p>
      <p id="form_button">
        <%=submit_tag "重设密码" ,:class=>"button"%>
      </p>
    <%end%>
  </div>
</div>
<div id="right_content"></div>
