<div class="form_info center_block">
  <h1>重设密码</h1>
  <%form_tag({:token => @token.value}) do%>

    <p>邮件:
      <%= @token.user.email%>
    </p>
    <p>
      <%=label_tag "password_label", "密码",{:for=>"text_password",:class=>"filed_lab"} %>
      <%= password_field_tag :text_password ,:class=>"required text",:title=>"*密码",:maxlength=>18 %>

    </p>
    <p>
      <%=label_tag "text_password_confirmation_label", "确认密码",
        {:for=>"text_password_confirmation",:class=>"filed_lab" }%>
      <%= password_field_tag :text_password_confirmation,:class=>"required text",:title=>"*密码",:maxlength=>18 %>
    </p>
    <p id="form_button">
      <%=submit_tag "修改" ,:class=>"button"%>
    </p>
  <%end%>
</div>
