<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<div class="form_info">
  <%form_tag({:token => @token.value}) do%>

    <p>邮件:
      <%= @token.user.email%>
    </p>
    <p>
      <%=label_tag "password_label", "密码",{:for=>"text_password",:class=>"filed_lab"} %>
      <%= password_field_tag :text_password ,:maxlength=>64%>

    </p>
    <p>
      <%=label_tag "text_password_confirmation_label", "确认密码",
        {:for=>"text_password_confirmation",:class=>"filed_lab" }%>
      <%= password_field_tag :text_password_confirmation,:maxlength=>64%>
    </p>
    <p id="form_button">
      <%=submit_tag "修改" ,:class=>"button"%>
    </p>
  <%end%>
</div>
