<div id="left_content">
  <%= render :partial=>"account/setting_types" %>
  <% form_for(@user,:url=>{:action=>"set_password"},:html=>{:id=>"set_base_info_page",:method=>:put,:class=>"required-validate form_info" }) do |f| %>
    <%= f.error_messages %>
    <p>
      <label  for="rold_password" class="filed_lab" >原密码</label>
      <%= password_field_tag :old_password  ,{},:maxlength=>64,:class=>"text required",:title=>"请输入原密码" -%>
    </p>
    <p>
      <%= f.label :text_password,"新密码" ,:class=>"filed_lab"%>
      <%= f.password_field :text_password ,:class=>"text required",:title=>"请输入新密码",:maxlength=>18%>
    </p>
    <p>
      <%= f.label :text_password_confirmation,"重复密码" ,:class=>"filed_lab"%>
      <%= f.password_field :text_password_confirmation,
        :class=>"text validate-equals-user_text_password useTitle",:title=>"两次输入的密码不相同",:maxlength=>18 %>
    </p>
    <p id="form_button">
      <%= submit_tag "保存"  ,:class=>"button"  -%>
    </p>
  <% end %>
</div>
<div id="right_content">
  <p>
    修改密码及邮箱
  </p>
</div>

