<% content_for :script do %>
  <%= javascript_include_merged :swfupload %>
<% end %>
<div id="left_content">
  <%= render :partial=>"account/setting_types" %>

  <% form_for(@user,:url=>set_base_info_account_path(),:html=>{:method=>:put,:class=>"required-validate form_info" }) do |f| %>
    <%= f.error_messages %>
    <div class="thumb_img">
      <%= img_upload_field( attachments_path(),
        @user.icon_file_path, nil,
        {:button_text=>" 更改图片",:post_params=>{:type=>UserIcon.to_s},:button_width=>60,:button_height=>18
        }) %>
    </div>
    <p>
      <%= f.label :email,"电子邮件",:class=>"filed_lab" %>
      <%= f.text_field :email,:class=>"required validate-email text",:maxlength=>64,:title=>"请输入邮箱" %>
    </p>
    <p>嵌入到博客</p>
    <%= text_area_tag "small_img_link", link_to('',user_resumes_url(current_user))%>

    <p id="form_button">
      <%= submit_tag "保存"  ,:class=>"button"  -%>
    </p>

  <% end %>
</div>
<div id="right_content">
  <p>
    登录邮箱和个人图片的修改
  </p>
</div>

