<% content_for :script do %>
  <%= javascript_include_merged :swfupload %>
<% end %>
<div id="left_content">
  <%= render :partial=>"account/setting_types" %>

  <% form_for(@user,:url=>set_base_info_account_path(),:html=>{:method=>:put,:class=>"required-validate form_info" }) do |f| %>
    <%= f.error_messages %>
    <div class="thumb_img">
      <%= img_upload_field( attachments_path(),
        @user.icon_file_path, nil,
        {:button_text=>" 更改图片",:post_params=>{:type=>UserIcon.to_s},:button_width=>60,:button_height=>18
        }) %>
    </div>
    <p>
      <%= f.label :email,"电子邮件",:class=>"filed_lab" %>
      <%= f.text_field :email,:class=>"required validate-email text",:maxlength=>64,:title=>"请输入邮箱" %>
    </p>
    <br/>
    <br/>
    <br/>
    <div class="form_row">
      <%= f.label :link_button,"资料链接",:class=>"filed_lab" %>
      <div class="l">
        <p>
          <%=   link_to(image_tag(url_for( :controller => 'images',:action=>"profile_link_img14060.png",:only_path => false),:alt=>"#{current_user.name }的个人资料"),user_resumes_url(current_user)) %>
          复制以下代码嵌入到其他网站
        </p>
        <%= text_area_tag "small_img_link",
          link_to(image_tag(url_for( :controller => 'images',:action=>"profile_link_img14060.png",:only_path => false),:alt=>"#{current_user.name }的个人资料"),user_resumes_url(current_user),:target=>"_blank"),
          :style=>"height:90px;"%>
      </div>
    </div>

    <p class="c">
      <%= submit_tag "保存"  ,:class=>"button"  -%>
    </p>

  <% end %>
</div>
<div id="right_content">
  <p>
    登录邮箱和个人图片的修改
  </p>
</div>

