<div id="left_content">
  <%if !current_user%>
    <div >
      <div id="welcome_div">
        <h2>
          欢迎你 到这个世界
        </h2>
        <%= link_to '',{:action=>'new'},:class=>'register_button' %>
        <h3>
          这里有<span id="company_count"> <%= Company.all.size %></span>个公司
          <span id="group_count"> <%= Group.all.size %></span>个小组
        </h3>
        <h3>
          <span id="user_count"><%= User.real_users.size %></span>人     陪你欢笑、陪你愁
        </h3>
      </div>
      <%#= link_to '我来注册',{:action=>'new'},:id=>'link_register',:style=>'display:none;',:class=>'l' %>
      <%= link_to_function '', "Effect.toggle('welcome_div','slide');this.className = (this.className=='welcome_show' ? 'welcome_hide' : 'welcome_show')",:id=>'roll_welcome_button',:class=>"welcome_hide",:title=>'' -%>
    </div>
  <%end%>
  <% sub_block_div("新闻") do%>
    <div id="my_news">
  <%#*<div id="my_news"  onscroll="if ((this.scrollHeight-this.scrollTop-this.clientHeight)<50) { new Ajax.Updater('my_news','account/get_news',{method:'get',insertion:'bottom',parameters:'page=2'});%>
  <%#*} ">%>

    </div>
    <%= javascript_tag( "new Ajax.Updater('my_news','#{url_for(:action=>"get_news")}',{method:'get',insertion:'bottom'})") %>
  <%end%>
  <% sub_block_div(" ") do%>
    <%tabs do%>
      <%= tab_button("最新的话题","new_topics") %>
      <%= tab_button("我参与的话题","join_topics") if @user%>
      <%= tab_button("我创建的话题","my_topics") if @user%>
    <%end%>
    <%tab_panel("new_topics") do%>
      <%= render :partial=>"groups/group_topic_item", :collection=>@topics %>
    <%end%>
    <%tab_panel("join_topics") do%>
      <%= render :partial=>"groups/group_topic_item",:collection=> @join_topics  %>
    <%end%>
    <%tab_panel("my_topics") do%>
      <%= render :partial=>"groups/group_topic_item",:collection=> @my_topics %>
    <%end%>
  <%end%>
</div>
<div id ="right_content">
  <% sub_block_div() do %>
    <%= render :partial=>"comm_partial/search",:locals=>{:default_text=>"输入文字"} %>
  <%end%>
<%# sub_block_div("登录") do%>

<%# form_tag(url_for(:controller=>:account,:action=>"login")) do -%>
<%#= render :partial=>"account/login_form" %>
<%#= submit_tag "登录"    -%>
<%#=link_to "我来注册",:action=>"new" -%> 
<%#=link_to "忘记密码？",forget_password_account_path()%>
<%#end%>
<%#end if !@user%>

  <% sub_block_div("申请") do%>
    <p> 你有 <%= @user.add_friend_applications.size %> 个好友申请
      <%= link_to "查看" ,account_add_friend_applications_path() %>
    </p>
  <%end  if  @user && @user.add_friend_applications.size>0 %>

  <% sub_block_div("邀请") do %>
    <p>
      你有   <%= link_to @user.join_group_invites.size,
        account_join_group_invites_path() %> 个加入小组邀请
    </p>
  <%end  if  @user && @user.join_group_invites.size>0%>

  <% sub_block_div("动态",(link_to("全部",follow_logs_account_path()) if  @user && @user.my_follow_log_items.size>0)) do %>
    <%= render :partial=>"comm_partial/show_log",:object=>@logs %>
  <%end%>

</div>

