
<div id="left_content">
  <%if !current_user%>
    <h2>
      欢迎您
    </h2>
    <div id="welcome_div">
      <%= link_to '',{:action=>'new'},:class=>'register_button' %>

      <h2 id="company_count">在线电子简历</h2>
      <h3>注册马上拥有</h3>
    </div>

    <%sub_block_div("") do%>
      <%search_form nil,:class=>"text_center" do |f|%>
        <br/>
        <%= text_field_tag  "search",params[:search],:class=>"text" %>
        <%= text_default_value 'search',"职位、公司、 小组信息" %>
        <%=  f.submit "搜索" ,:disable_with=>"搜索",:disabled => false,:class=>"button"%>
        <br/>
        <div class="text_center">
          <%= radio_button_tag( "type", "job",true) %><%= label_tag "type_job","职位" %>
          <%= radio_button_tag( "type", "company") %> <%= label_tag "type_company","公司" %>
          <%= radio_button_tag( "type", "group") %><%= label_tag "type_group","小组" %>
        </div>
      <%end%>
    <%end%>
    <%sub_block_div("热门职位",link_to("更多",search_jobs_path())) do%>
      <ul class="list">
        <%= render :partial=>"jobs/short_item",:collection=>Job.limit(5) ,:locals=>{:is_show_company=>true}%>
      </ul>
    <%end if Job.limit(5).count>0%>

    <%  sub_block_div("最新的话题",link_to("更多",topics_path())) do %>
      <%= render :partial=>"topics/topic_item",:collection=>@newly_topics,:locals=>{:show_group=>true} %>

    <%end%>

    <%sub_block_div("最活跃小组",link_to("更多",groups_path())) do%>
      <ul class="float_ul">
        <%= render :partial=>"groups/float_icon_name",:collection=> Group.most_activity.all(:limit=>6)%>
      </ul>
    <%end%>
  <%else%><%#登录以后%>
    <%content_for :script  do%>
      <%= javascript_include_merged :dragdrop %>
    <%end %>
    <h1>欢迎，<%= current_user.name %></h1>
    <% sub_block_div() do%>

      <%=  link_to "我发布的职位 #{@user.published_jobs.size}个", {:action=>:published_jobs},:class=>"button" %>
      <%=  link_to "有#{@user.published_job_applicants.size}人申请 " , {:action=>:published_job_applicants},:class=>"button"  if @user.published_job_applicants.size>0%>
      <%= link_to "我申请的职位 #{@user.job_applicants.size}", {:action=>:job_applicants} ,:class=>"button" %>
      <%=   link_to("我给同事的评价" ,judged_yokemate_account_path(),:class=>"button" )  %>
      <%=   link_to("需要我评价的同事#{@user.unjudge_yokemates.size}个" ,unjudge_yokemate_account_path(),:class=>"button" ) if @user.unjudge_yokemates.size>0%>

      <%= link_to "我给公司的评价", judged_company_account_path(),:class=>"button"  %>
      <%= link_to "需要我评价的公司#{@user.unjudge_companies.size}",unjudge_company_account_path() ,:class=>"button"  if @user.unjudge_companies.size>0%>
      <%= link_to "我的好友#{current_user.friend_users.size}",friends_user_path(current_user) ,:class=>"button"  %>
      <%= link_to "我加入的小组#{current_user.groups.size}",groups_user_path(current_user) ,:class=>"button"  %>

    <%end %>
    <% sub_block_div("") do%>
      <%tabs do%>
        <%= tab_button("最新的话题","new_topics") %>
        <%= tab_button("我参与的话题","join_topics") if @user%>
        <%= tab_button("我创建的话题","my_topics") if @user%>
      <%end%>
      <%tab_panel("new_topics") do%>
        <%= render :partial=>"topics/topic_item", :collection=>@topics,:locals=>{:show_group=>true} %>
        <%= link_to "更多…",{:action=>"my_topics"} if @topics.size>10%>
      <%end%>
      <%tab_panel("join_topics") do%>
        <%= render :partial=>"topics/topic_item",:collection=> @join_topics,:locals=>{:show_group=>true}   %>
        <%= link_to "更多…",{:action=>"my_topics",:type=>"join"}  if @join_topics && @join_topics.size>10%>
      <%end%>
      <%tab_panel("my_topics") do%>
        <%= render :partial=>"topics/topic_item",:collection=> @my_topics,:locals=>{:show_group=>true}  %>
        <%= link_to "更多…",{:action=>"my_topics",:type=>"create"} if @my_topics && @my_topics.size>10%>
      <%end%>
    <%end%>
  <%end%>

</div>
<div id ="right_content">
<%# sub_block_div() do%>
<%#= render :partial=>"comm_partial/search",:locals=>{:default_text=>"搜索公司、公司博客、话题、小组"} %>
<%#end%>

  <% sub_block_div("申请") do%>
    <%if @add_friend_request_size>0%>
      <p> 有 <span class='red_text large strong'><%= @add_friend_request_size %></span> 个好友申请
        &nbsp;
        <%= link_to "查看…" ,account_add_friend_applications_path() %>
      </p>
    <%end%>
    <%if @unread_job_apply_size>0%>
      <p>
        有<span class="red_text large strong">
          <%= @unread_job_apply_size %>
        </span>个未读的职位申请&nbsp;
        <%= link_to "查看…", {:action=>:published_job_applicants} %>
      </p>
    <%end%>
  <%end  if  @add_friend_request_size+@unread_job_apply_size>0 %>

  <% sub_block_div("邀请") do %>
    <p>
      你有 <span class='red_text large strong'><%= @join_group_invites_size %></span> 个加入小组邀请
      &nbsp;
      <%= link_to "查看…",
        account_join_group_invites_path() %>
    </p>
  <%end  if @join_group_invites_size>0%>

  <% sub_block_div("动态",(link_to("全部",follow_logs_account_path()) if  @user )) do %>
    <%= render :partial=>"comm_partial/show_log",:object=>@logs %>
  <%end%>
  <%#if !@user%>
  <%#end%>
</div>

