
<div id="left_content">
  <%if !current_user%>
    <h2>
      欢迎你 到这个世界
    </h2>
    <div id="welcome_div" style="display:<%=  cookies[:welcome_div_display]%>">
      <%= link_to '',{:action=>'new'},:class=>'register_button' %>
      <h3>
        <span id="company_count"> <%= Company.all.size %></span>个公司
      </h3>
      <h3>
        <span id="group_count"> <%= Group.all.size %></span>个小组
      </h3>
      <h3>
        <span id="user_count"><%= User.real_users.size %></span>人   &nbsp;  也许能发现一些朋友、同事或感兴趣的公司
      </h3>
    </div>
    <% sub_block_div() do%>
      <div class="l half_width">
        <% sub_block_div("待遇最好的公司", link_to("更多…",{:controller=>:companies,:action=>'search',:salary_order=>'desc'})) do%>
          <%= render :partial=>"companies/company_short_info",:collection=>@salary_best_companies %>

        <%end%>
      </div>
      <div class="r half_width">
        <% sub_block_div("环境最好的公司",link_to("更多…",{:controller=>:companies,:action=>'search',:condition_order=>'desc'})) do%>
          <%= render :partial=>"companies/company_short_info",:collection=>@condition_best_companies %>
        <%end%>
      </div>
    <%end%>
    <% sub_block_div("公司博客",link_to("更多…",news_path())) do%>
      <div id="my_news">
      </div>
      <%= javascript_tag( "new Ajax.Updater('my_news','#{url_for(:action=>"get_news")}',{method:'get',insertion:'bottom'})") %>
    <%end%>
    <%  sub_block_div("热门话题") do %>
      <%= render :partial=>"topics/topic_item",:collection=>@hot_topics,:locals=>{:show_group=>true} %>
    <%end%>
  <%else%>
    <%content_for :script  do%>
      <%= javascript_include_merged :dragdrop %>
    <%end %>
    <h1>欢迎，<%= current_user.name %></h1>
    <% sub_block_div("公司博客",link_to("更多",news_path())) do%>
      <div id="my_news">
      </div>
      <%= javascript_tag( "new Ajax.Updater('my_news','#{url_for(:action=>"get_news")}',{method:'get',insertion:'bottom'})") %>
    <%end%>
    <% sub_block_div(" ") do%>
      <%tabs do%>
        <%= tab_button("最新的话题","new_topics") %>
        <%= tab_button("我参与的话题","join_topics") if @user%>
        <%= tab_button("我创建的话题","my_topics") if @user%>
      <%end%>
      <%tab_panel("new_topics") do%>
        <%= render :partial=>"topics/topic_item", :collection=>@topics,:locals=>{:show_group=>true} %>
        <%= link_to "更多…",{:action=>"my_topics"} if @topics.size>10%>
      <%end%>
      <%tab_panel("join_topics") do%>
        <%= render :partial=>"topics/topic_item",:collection=> @join_topics,:locals=>{:show_group=>true}   %>
        <%= link_to "更多…",{:action=>"my_topics",:type=>"join"}  if @join_topics && @join_topics.size>10%>
      <%end%>
      <%tab_panel("my_topics") do%>
        <%= render :partial=>"topics/topic_item",:collection=> @my_topics,:locals=>{:show_group=>true}  %>
        <%= link_to "更多…",{:action=>"my_topics",:type=>"create"} if @my_topics && @my_topics.size>10%>
      <%end%>
    <%end%>
  <%end%>

</div>
<div id ="right_content">
<%# sub_block_div() do%>
<%#= render :partial=>"comm_partial/search",:locals=>{:default_text=>"搜索公司、公司博客、话题、小组"} %>
<%#end%>
  <% sub_block_div("申请") do%>
    <p> 你有 <%= @add_friend_request_size %> 个好友申请
      <%= link_to "查看" ,account_add_friend_applications_path() %>
    </p>
  <%end  if  @add_friend_request_size>0 %>

  <% sub_block_div("邀请") do %>
    <p>
      你有   <%= link_to @join_group_invites_size,
        account_join_group_invites_path() %> 个加入小组邀请
    </p>
  <%end  if @join_group_invites_size>0%>

  <% sub_block_div("动态",(link_to("全部",follow_logs_account_path()) if  @user )) do %>
    <%= render :partial=>"comm_partial/show_log",:object=>@logs %>
  <%end%>
  <%if !@user%>

    <%sub_block_div("最活跃小组",link_to("更多",groups_path())) do%>
      <ul class="float_ul">
        <%= render :partial=>"groups/float_icon_name",:collection=> Group.most_activity.all(:limit=>6)%>
      </ul>
    <%end%>
  <%end%>
</div>

