
<div id="left_content">
  <%content_for :script  do%>
    <%= javascript_include_merged :dragdrop %>
  <%end %>
  <h1>欢迎，<%= current_user.name %></h1>

  <% sub_block_div("" ) do %>
    <%= render :file=>"log_items/index" %>
  <%end%>

<%# sub_block_div("") do%>
<%#tabs do%>
<%#= tab_button("加入小组的话题","new_topics") %>
<%#= tab_button("我参与的话题","join_topics") if @user%>
<%#= tab_button("我创建的话题","my_topics") if @user%>
<%#end%>
<%#tab_panel("new_topics") do%>
<%#= render :partial=>"topics/topic_item", :collection=>@topics,:locals=>{:show_group=>true} %>
<%#= link_to "更多…",{:action=>"my_topics"} if @topics.size>10%>
<%#end%>
<%#tab_panel("join_topics") do%>
<%#= render :partial=>"topics/topic_item",:collection=> @join_topics,:locals=>{:show_group=>true}   %>
<%#= link_to "更多…",{:action=>"my_topics",:type=>"join"}  if @join_topics && @join_topics.size>10%>
<%#end%>
<%#tab_panel("my_topics") do%>
<%#= render :partial=>"topics/topic_item",:collection=> @my_topics,:locals=>{:show_group=>true}  %>
<%#*<p>%>
<%#= link_to "更多…",{:action=>"my_topics",:type=>"create"} if @my_topics && @my_topics.count>10%>
<%#*</p>%>
<%#end%>
<%#end%>
</div>
<div id ="right_content">
<%# sub_block_div() do%>
<%#= render :partial=>"comm_partial/search",:locals=>{:default_text=>"搜索公司、公司博客、话题、小组"} %>
<%#end%>
  <%= link_to "发布招聘",add_job_account_path() ,:class=>"button negative"    %>
  <%= link_to "发布求职",new_account_need_job_path() ,:class=>"button positive"  %>
  <% if @user.not_judge_them_colleague_users.count>0%>
    <%  link_to(unjudge_colleagues_account_path(),:class=>"small"  ) do %>
      <span class="red_text large strong">
        <%= "#{@user.not_judge_them_colleague_users.count}"  %>
      </span>
      个同事可评价
    <%end%>
    &nbsp;
  <%end%>
  <%if @user.unjudge_companies.count>0%>
    <% link_to  unjudge_company_account_path(),:class=>"small" do%>
      <span class="red_text large strong">
        <%= "#{@user.unjudge_companies.count}"  %>
      </span>
      个公司可评价
    <%end%>
    &nbsp;
  <%end%>

  <%if @unread_job_apply_size>0%>
    <% link_to published_job_applicants_account_path(),:class=>"small" do%>
      <span class="red_text large strong">
        <%= "#{@unread_job_apply_size}"  %>
      </span>
      个申请职位
    <%end%>
    &nbsp;
  <%end%>
  <%if @user.need_confirm_colleague_users.count>0%>
    <%  link_to  user_colleagues_path(@user,:type=>"undetermined"),
      :class=>"small"  do%>
      <span class="red_text large strong">
        <%= "#{@user.need_confirm_colleague_users.count}"  %>
      </span>
      人个也许是同事
    <%end%>
    &nbsp;
  <%end%>
  <%if @join_group_invites_size>0%>
    <% link_to account_join_group_invites_path() ,:class=>"small" do %>
      <span class='red_text large strong'><%= @join_group_invites_size %></span>
      个加入小组邀请
    <%end%>
    &nbsp;
  <%end%>
  <%if @unread_broadcast_count>0%>
    <% link_to broadcasts_path(),:class=>"small" do %>
      <span class='red_text large strong'><%= @unread_broadcast_count %></span>
      需转发的消息
    <%end%>
    &nbsp;
  <%end%>
  <%if @by_apply_colleague_count>0%>
    <% link_to apply_colleagues_path(),:class=>"small" do %>
      <span class='red_text large strong'><%= @by_apply_colleague_count %></span>
      申请为同事
    <%end%>
    &nbsp;
  <%end%>

  <%if current_user.add_friend_applications.count>0%>
    <% link_to add_friend_applications_path(),:class=>"small" do %>
      <span class='red_text large strong'><%= current_user.add_friend_applications.count %></span>
      加好友申请
    <%end%>
    &nbsp;
  <%end%>

  <% sub_block_div(" ") do%>
    <ul id="user_navigate" class="set_center">
      <li><%= link_to "评价管理<small>▼</small>","javascript:;",:id=>"manaage_menu_link"  %> </li>
      <li> <%=  link_to("同事(#{current_user.colleagues.count})",user_colleagues_path(current_user))  %></li>
      <li><%= link_to "关注的人(#{current_user.my_follow_users.count})",following_user_path(current_user)   %></li>
      <li><%= link_to "被谁关注(#{current_user.follow_me_users.count})",  following_user_path(current_user,:type=>"follow_me" )  %></li>
      <li><%= link_to "加入的小组(#{current_user.all_groups.count})",groups_user_path(current_user)   %></li>
      <%if @user.published_jobs.count>0%>
        <li >
          <%=  link_to "发布的职位(#{@user.published_jobs.count})", {:action=>:published_jobs}%>
        </li>
      <%end%>
      <% if @user.need_jobs.count>0  %>
        <li><%= link_to "发布的求职(#{@user.need_jobs.count})", {:action=>:need_jobs} %></li>
      <%end%>
      <% if @user.job_applicants.count>0 %>
        <li><%= link_to "申请的职位(#{@user.job_applicants.count})", {:action=>:job_applicants}%></li>
      <%end%>
    </ul>
    <% menu("manage_menu") do -%>
      <%= menu_item(link_to "给我的评价",user_judges_path(current_user)) -%>
      <%= menu_item(link_to "我给公司的评价",judged_company_account_path()) -%>
      <%= menu_item(link_to "我对同事的评价",judged_colleagues_account_path()) -%>
    <%end%>
    <%= popmenu("manaage_menu_link","manage_menu") -%>
  <%end %>

</div>

