
<div id="left_content">
  <%content_for :script  do%>
    <%= javascript_include_merged :dragdrop %>
  <%end %>
  <h1>欢迎，<%= current_user.name %></h1>
  <%= link_to "发布求职",new_account_need_job_path() ,:class=>"button positive"  %>
  <%= link_to "发布招聘",add_job_account_path() ,:class=>"button negative"    %>
  <%=   link_to("有#{@user.unjudge_yokemates.count}个同事可评价" ,unjudge_yokemate_account_path()  ) if @user.unjudge_yokemates.count>0%>
  <%= link_to "有#{@user.unjudge_companies.count}个公司可评价",unjudge_company_account_path() if @user.unjudge_companies.count>0%>
  <% sub_block_div(" ") do%>
    <ul id="user_navigate" class="set_center">

      <li><%= link_to "评价管理<small>▼</small>","javascript:;",:id=>"manaage_menu_link"  %> </li>
      <li><%= link_to "好友(#{current_user.friend_users.count})",friends_user_path(current_user)   %></li>
      <li><%= link_to "加入的小组(#{current_user.groups.count+current_user.hidden_groups.count})",groups_user_path(current_user)   %></li>


      <li><%=  link_to "发布的职位(#{@user.published_jobs.count})", {:action=>:published_jobs} if @user.published_jobs.count>0%></li>
      <li><%=  link_to "#{@user.published_job_applicants.count}人申请 " , {:action=>:published_job_applicants}   if @user.published_job_applicants.count>0%></li>
      <li><%= link_to "发布的求职(#{@user.need_jobs.count})", {:action=>:need_jobs} if @user.need_jobs.count>0 %></li>
      <li><%= link_to "申请的职位(#{@user.job_applicants.count})", {:action=>:job_applicants} if @user.job_applicants.count>0 %></li>

    </ul>
    <% menu("manage_menu") do -%>
      <%= menu_item((link_to "对公司的评价",judged_company_account_path())) -%>
      <%= menu_item((link_to "对同事的评价",judged_yokemate_account_path())) -%>
    <%end%>
    <%= popmenu("manaage_menu_link","manage_menu") -%>
  <%end %>
  <% sub_block_div("") do%>
    <%tabs do%>
      <%= tab_button("最新的话题","new_topics") %>
      <%= tab_button("我参与的话题","join_topics") if @user%>
      <%= tab_button("我创建的话题","my_topics") if @user%>
    <%end%>
    <%tab_panel("new_topics") do%>
      <%= render :partial=>"topics/topic_item", :collection=>@topics,:locals=>{:show_group=>true} %>
      <%= link_to "更多…",{:action=>"my_topics"} if @topics.size>10%>
    <%end%>
    <%tab_panel("join_topics") do%>
      <%= render :partial=>"topics/topic_item",:collection=> @join_topics,:locals=>{:show_group=>true}   %>
      <%= link_to "更多…",{:action=>"my_topics",:type=>"join"}  if @join_topics && @join_topics.size>10%>
    <%end%>
    <%tab_panel("my_topics") do%>
      <%= render :partial=>"topics/topic_item",:collection=> @my_topics,:locals=>{:show_group=>true}  %>
      <p>
        <%= link_to "更多…",{:action=>"my_topics",:type=>"create"} if @my_topics && @my_topics.count>10%>
      </p>
    <%end%>
  <%end%>
</div>
<div id ="right_content">
<%# sub_block_div() do%>
<%#= render :partial=>"comm_partial/search",:locals=>{:default_text=>"搜索公司、公司博客、话题、小组"} %>
<%#end%>

  <% sub_block_div("申请") do%>
    <%if @add_friend_request_size>0%>
      <p> 有 <span class='red_text large strong'><%= @add_friend_request_size %></span> 个好友申请
        &nbsp;
        <%= link_to "查看…" ,account_add_friend_applications_path() %>
      </p>
    <%end%>
    <%if @unread_job_apply_size>0%>
      <p>
        有<span class="red_text large strong">
          <%= @unread_job_apply_size %>
        </span>个未读的职位申请&nbsp;
        <%= link_to "查看…", {:action=>:published_job_applicants} %>
      </p>
    <%end%>
  <%end  if  @add_friend_request_size+@unread_job_apply_size>0 %>

  <% sub_block_div("邀请") do %>
    <p>
      你有 <span class='red_text large strong'><%= @join_group_invites_size %></span> 个加入小组邀请
      &nbsp;
      <%= link_to "查看…",
        account_join_group_invites_path() %>
    </p>
  <%end  if @join_group_invites_size>0%>

  <% sub_block_div("动态",(link_to("全部",follow_logs_account_path()) if  @user )) do %>
    <%= render :partial=>"comm_partial/show_log",:object=>@logs %>
  <%end%>

</div>

