<div id="<%= dom_id(show_apply,"apply_info")%>"  class="<%= cycle("item_content", "gray_background item_content") %>">
  <% form_for  :AddFriendApplications,:url=>accept_account_join_group_invite_path(show_apply) do |form| %>
    <div>
      <div class="r">
        <%= form.submit "接受",:disable_with=>"接受…",:disabled => false,:class=>"button"%>
        &nbsp;<%= link_to "忽略",account_join_group_invite_path(show_apply),:confirm=>"你确定吗？",:method=>:delete %>
      </div>
      <div class="applicant">
        <%= render :partial=>"groups/icon_name",:object=>show_apply.applicant %>
      </div>
      <div class="apply_memo">
        <p class="quiet">
          <%=  localize(show_apply.created_at)  %>
        </p>
        <p>
          <%= show_apply.memo %>
        </p>
      </div>
      <p class="clear_float" />
    </div>
  <%end%>
</div>