<%f= form%>

<%#*<h3 class="group_lab">基本信息</h3>%>
<!--
    <p>
<%#= f.label :name,"档案名称" %>
<%#= f.text_field :name %>
    </p>
-->
<%#*<p style="display:none">%>
<%#= f.label :type_name,"类型" ,:class=>"filed_lab" %>
<%#=f.select :type_name ,Resume::RESUME_TYPES %>
<%#*</p>%>
<div id="thumb_img">
  <%= img_upload_field( attachments_path(),
        @resume.user ? @resume.user.icon_file_path : User.anonymity.icon_file_path,
    nil,
    {:button_text=>"上传文件",:post_params=>{:type=>UserIcon.to_s},:button_width=>60,:button_height=>18
    }) %>

</div>
<p>
  <%= f.label :user_name,"姓名" ,:class=>"filed_lab" %>
  <%=f.text_field :user_name ,:class=>"text" %>
</p>
<p>
  <%= f.label :sex,"性别" ,:class=>"filed_lab" %>
  <%=f.radio_button(:sex,"true",:checked => true )%><%= f.label :sex_true,"男" %>
  <%=f.radio_button(:sex,"false")%><%= f.label :sex_false,"女" %>
</p>
<p>
  <%= f.label :birthday,"出生日期" ,:class=>"filed_lab" %>
  <%=f.date_select :birthday,:start_year => 1930  %>
</p>
<p>
  <%= f.label :website1,"博客" ,:class=>"filed_lab"  %>
  <%=f.text_field :website1,:class=>"text" %>
</p>
<p>
  <%= f.label :website2,"网站",:class=>"filed_lab" -%>
  <%=f.text_field :website2,:class=>"text"  -%>
</p>
<br />
<p>
  <%= f.label :qq,"MSN",:class=>"filed_lab" -%>
  <%=f.text_field :msn ,:class=>"text"  -%>
</p>
<p>
  <%= f.label :qq,"QQ",:class=>"filed_lab"  %>
  <%=f.text_field :qq ,:class=>"text"   %>
</p>
<p>
  <%= f.label :phone1,"移动电话" ,:class=>"filed_lab" %>
  <%=f.text_field :phone1 ,:class=>"text"  %>
</p>
<p>
  <%= f.label :phone2,"固定电话" ,:class=>"filed_lab" %>
  <%=f.text_field :phone2 ,:class=>"text"  %>
</p>
<p>
  <%= f.label :address,"居住地址" ,:class=>"filed_lab" %>
  <%=f.text_field :address ,:class=>"text"  %>
</p>
<%if action_name=="new"%>
  <br />
  <p> <%= f.label :self_description,"自我描述" ,:class=>"filed_lab" %>

  <%= f.text_area :self_description ,:rows=>6 %></p>
<%end%>