
<% resume = resume_item %>
<div  id="<%= dom_id(resume,"item") %>"
      class="<%= resume.id==params[:resume_id] ? "resume_item_select" : "resume_item"  %>"
      onmouseover="Element.show('<%= dom_id(resume,"item_operation") %>')" onmouseout="Element.hide('<%= dom_id(resume,"item_operation") %>')">
  <div class="resume_item_name"><%= link_to(resume.name, user_resume_path(params[:user_id],resume),:id=>dom_id(resume,"name"))  %></div>
  <div style="display:none" id="<%= dom_id(resume,"item_operation") %>" class="resume_item_operation">
    <a href="#" id="<%= dom_id(resume,"ext_name") %>">修改</a>
    <%= link_to("×", user_resume_path(params[:user_id],resume),:confirm=>"确定删除吗？",:method=>"delete",:title=>"删除") %>
    <%=  in_place_editor(dom_id(resume,"name") ,:url=>url_for({ :action => "set_resume_name", :id => resume}),
      :external_control=>dom_id(resume,"ext_name"),:external_control_only=>"true",:loading_text=>"载入…",
      :click_to_edit_text=>"",:saving_text=>"保存…",:save_text=>"保存",:cancel_text=>"取消",:size=>12) %></div>
  <p class="clear_float" />
  
</div>

