<%# 显示联系信息%>
<%resume = show_contact_info%>

<% if resume.user.setting.can_visibility?(:mobile_visibility,current_user) && !resume.mobile.blank? %>
 
  <p>
    <span>移动电话</span>
    <%=h resume.mobile %>
  </p>
<%end%>
<% if resume.user.setting.can_visibility?(:phone_visibility,current_user) && !resume.telephone.blank? %>
 
  <p>
    <span>固定电话</span>
    <%=h resume.telephone %>
  </p>
<%end%>
<% if resume.user.setting.can_visibility?(:address_visibility,current_user) &&  resume.state %>
 
  <p>
    <span>现居住地址</span>
    <%= resume.state.name if resume.state-%>&nbsp;
    <%= resume.city.name if resume.city %>&nbsp;
    <%=h resume.address %>
  </p>
<%end%>



