<%resume = show_base_info%>

  <% if current_user?(resume.user) %>
  <span class="operation_lab"> <%= link_to_remote "",
      {:update=>"edit_container_user_base_info" ,
      :before=>" PerpareEdit('user_base_info')",
      :complete=>"$('edit_container_user_base_info').select('Form').each(function(el){ el.focusFirstElement();})",
      :url=>edit_user_resume_path(resume.user,resume),:method=>"get"},
      :class=>"edit_img_button",:title=>"编辑"%>
  </span>
<%end%>
<% if resume.user.setting.can_visibility?(:sex_visibility,current_user) && !resume.sex.blank? %>
  <span  class="operation_lab">
    <%= render :partial=>"resumes/visibility_set",
      :locals=>{:value=>resume.user.setting.sex_visibility,:visibility_value=>"sex",:resume=>resume} if  current_user?(resume.user) %>
  </span>
  <p>
    <span>性别</span>
    <%=   resume.sex ? "男" : "女"   %>
  </p>
<%end%>
<% if resume.user.setting.can_visibility?(:birthday_visibility,current_user) &&
    !resume.birthday.blank?   %>
  <span  class="operation_lab">
    <%= render :partial=>"resumes/visibility_set",
      :locals=>{:value=>resume.user.setting.birthday_visibility,:visibility_value=>"birthday",:resume=>resume} if  current_user?(resume.user) %>
  </span>
  <p>
    <span>出生日期</span>
    <%= localize(resume.birthday)   %>
  </p>
<%end%>
<% if resume.user.setting.can_visibility?(:blog_site_visibility,current_user) &&
    !resume.website1.blank?   %>
  <span  class="operation_lab">
    <%= render :partial=>"resumes/visibility_set",
      :locals=>{:value=>resume.user.setting.blog_site_visibility,:visibility_value=>"blog_site",:resume=>resume} if  current_user?(resume.user) %>
  </span>
  <p>
    <span>博客</span>
    <%=auto_link_urls(h(resume.website1))   -%>
  </p>
<%end%>
<% if resume.user.setting.can_visibility?(:web_site_visibility,current_user) &&
    !resume.website2.blank? %>
  <span  class="operation_lab">
    <%= render :partial=>"resumes/visibility_set",
      :locals=>{:value=>resume.user.setting.web_site_visibility,:visibility_value=>"web_site",:resume=>resume} if  current_user?(resume.user) %>
  </span>
  <p>
    <span>网站</span>
    <%=auto_link_urls(h(resume.website2))   -%>
  </p>
<%end%>
<%= render :partial=>"resumes/show_contact_info",:object=>resume %>