<div class="<%= cycle("topic_item gray_background", "topic_item") %>">
  <div class="quiet r">  <%= link_to object.poster.name, object.poster, :target=>"_blank"%>
    <%= date_ago_in_words(object.created_at)+"发布" %></div>
  <p>
    [<%= link_to_state_city(object) %>]
    <%= highlight(link_to(h(object.title),need_job_path(object) ,:target=>"_blank"),params[:search]) %>
  </p>
  <p>
    <%= highlight(h(truncate("#{ object.description}", :length=>120)),params[:search]) %>
  </p>
  <p>
    <b>技术</b> <%= highlight(render(:partial=>"need_jobs/skill_tag",:collection=> object.skills),params[:search])%>
  </p>
  <p class="small">
    <%= link_to "查看详细…",need_job_path(object) ,:target=>"_blank" %>
  </p>
</div>