<li class="<%= cycle( "topic_item","topic_item gray_background") %>">
  <div class="quiet r">
    <%= link_to object.poster.name, object.poster,:class=>"small",:target=>"_blank"%>
    <%= date_ago_in_words(object.created_at)+"发布" %>
  </div>
  <%= link_to h(object.title),need_job_path(object) ,:target=>"_blank" %>
  <br />
  <span class="small">
  <%= link_to_state_city(object) %>
  </span>
</li>
