<h1>Editing need_job</h1>

<% form_for(@need_job) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :state_id %><br />
    <%= f.text_field :state_id %>
  </p>
  <p>
    <%= f.label :city_id %><br />
    <%= f.text_field :city_id %>
  </p>
  <p>
    <%= f.label :poster_id %><br />
    <%= f.text_field :poster_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @need_job %> |
<%= link_to 'Back', need_jobs_path %>