<div id="left_content">
  <%= render :partial=>"groups/manage_type",:object=>@group  %>

  <% sub_block_div("组长") do %>
    <div id="group_root_list">
      <%= render :partial=>"members/member",:collection=>@group.roots,:locals=>{:group=>@group} %>
    </div>
    <p class ="clear"/>

  <%end%>

  <% sub_block_div("管理员") do %>
    <div id="group_manager_list">
      <%= render :partial=>"members/member",:collection=>@group.managers,:locals=>{:group=>@group} %>
    </div>
    <p class ="clear"/>
  <%end%>

  <% sub_block_div("成员") do %>
    <div id="group_member_list">
      <%= render :partial=>"members/member",:collection=> @normal_members ,:locals=>{:group=>@group}%>
    </div>
    <p class ="clear"/>
    <%= will_paginate @normal_members%>
  <%end%>
</div>
<div id="right_content">
  <% sub_block_div() do %>
    <%= render :partial=>"comm_partial/search",:locals=>{:default_text=>"仅查找普通成员",:url=>""} %>
  <%end%>

  <% sub_block_div() do %>

    <%= link_to "返回 #{ @group.name}小组", @group %>
  <%end%>
</div>